<div>

    <script type="text/ng-template" id="metadata-save.html">
        <form name="form" role="form" novalidate
              class="ng-scope ng-invalid ng-invalid-required ng-dirty"
              ng-submit="ok()">

            <div class="modal-header">
                <button type="button" class="close"
                        ng-click="cancel()">&times;
                </button>
                <h4 class="modal-title" id="myMetadataLabel" ng-if="!metadata.id">Create Metadata</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Key</label>
                    <input type="text" class="form-control" name="key"
                           ng-model="metadata.key" ng-required="true"
                           ng-maxlength="256" value="{{ metadata.key }}"/>
                    <span class="error" ng-show="form.value.$error.minlength">Must be at least 1 character.</span>
                    <span class="error" ng-show="form.value.$error.maxlength">Must be at most 256 characters.</span>
                </div>

                <div class="form-group">
                    <label>Type</label>
                    <ui-select ng-model="metadata.type" ng-required on-select="change_type_option($select.selected)">
                        <ui-select-match placeholder="Select an option...">
                            <small><span ng-bind="$select.selected.value || metadata.type"></span></small>
                        </ui-select-match>
                        <ui-select-choices
                                repeat="option in (types | filter: $select.search) track by option.value">
                            <small><span>{{ option.value }}</span></small>
                        </ui-select-choices>
                    </ui-select>
                </div>


                <div class="form-group">
                    <label>Artifact Type</label>
                    <ui-select ng-model="artifact_type" ng-required
                               on-select="change_artifact_type_option($select.selected)">
                        <ui-select-match placeholder="Select an option...">
                            <small><span ng-bind="$select.selected.value || metadata.artifact_type"></span></small>
                        </ui-select-match>
                        <ui-select-choices
                                repeat="option in (artifact_type_options | filter: $select.search) track by option.value">
                            <small><span>{{ option.value }}</span></small>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="form-group" ng-if="metadata.type && metadata.type !== 'select'">
                    <label>Default Value</label>
                    <input type="text" class="form-control" name="default"
                           ng-model="metadata.default" ng-required="false"
                           ng-maxlength="4096" value="{{ metadata.default }}" placeholder="Optional default value"/>
                    <span class="error" ng-show="form.value.$error.minlength">Must be at least 1 character.</span>
                    <span class="error" ng-show="form.value.$error.maxlength">Must be at most 4096 characters.</span>
                </div>

                <div class="form-group" ng-if="metadata.type && metadata.type == 'select'">
                    <label>Choices</label>
                    <input type="text" class="form-control" name="choices"
                           ng-model="metadata.choices" ng-required="false"
                           ng-maxlength="512" placeholder="Comma-separated choices"/>
                    <span class="error" ng-show="form.value.$error.minlength">Must be at least 1 character.</span>
                    <span class="error" ng-show="form.value.$error.maxlength">Must be at most 512 characters.</span>
                </div>

                <div class="form-group">
                    <label>Show In Main Table</label>
                    <ui-select ng-model="show_in_table" ng-required
                               on-select="change_show_in_table_option($select.selected)">
                        <ui-select-match placeholder="Select an option...">
                            <small><span ng-bind="$select.selected.key || show_in_table"></span></small>
                        </ui-select-match>
                        <ui-select-choices
                                repeat="option in (show_in_table_options | filter: $select.search) track by option.key">
                            <small><span>{{ option.key }}</span></small>
                        </ui-select-choices>
                    </ui-select>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel
                </button>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            </div>
        </form>
    </script>

    <br>
    <div class="container-fluid">

        <div class="inner-addon left-addon col-md-4" style="padding-left:0px;">
            <i class="glyphicon glyphicon-search"></i>
            <input type="text" class="form-control" placeholder="Search" ng-model="search"/>
        </div>
        <a class="btn-link pull-right" style="color:inherit;" ng-click="create()">
            <span class="glyphicon glyphicon-plus-sign"></span>
        </a>
    </div>


    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Key</th>

                <th>Type</th>

                <th>Artifact Type</th>

                <th>Default/Choices</th>

                <th>Show In Table</th>

                <th style="width: 120px;">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="metadata in metadatas | toArray:false | filter:search track by $index" ng-if="metadata.id">

                <td ng-if="metadata.key">{{ metadata.key }}</td>

                <td ng-if="metadata.type">{{ metadata.type }}</td>

                <td ng-if="metadata.key">{{ artifact_type_to_string(metadata.artifact_type) }}</td>

                <td ng-if="metadata.type && metadata.type !== 'select'">{{ metadata.default }}</td>

                <td ng-if="metadata.type && metadata.type == 'select'">{{ metadata_short_choice_string(metadata) }}</td>

                <td ng-if="metadata.key">{{ show_in_table_to_string(metadata.show_in_table) }}</td>

                <td ng-if="metadata.key" style="float:right">
                    <center>
                        <button type="submit"
                                ng-click="delete(metadata.id)"
                                class="btn btn-sm btn-danger">
                            <small><span class="glyphicon glyphicon-remove-circle"></span></small>
                        </button>
                    </center>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
