aiohttp==3.8.1
aiosignal==1.2.0
alembic==1.7.7
amqp==5.1.1
app==0.0.1
async-timeout==4.0.2
attrs==21.4.0
Babel==2.10.1
bcrypt==3.2.0
billiard==3.6.4.0
blinker==1.4
celery==5.2.6
certifi==2022.12.7
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cryptography==41.0.0
decorator==5.1.1
deepdiff==5.8.0
defusedxml==0.7.1
delegator.py==0.1.1
Deprecated==1.2.13
dnspython==2.0.0
docopt==0.6.2
envoy==0.0.3
Flask==1.1.2
Flask-Babel==2.0.0
Flask-Bcrypt==1.0.1
Flask-Caching==1.10.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.6.0
Flask-OpenID==1.3.0
Flask-Script==2.0.6
flask-selfdoc==1.3.0
Flask-SQLAlchemy==2.5.1
Flask-WhooshAlchemy==0.56
Flask-WTF==1.0.1
flup==1.0.3
frozenlist==1.3.0
geoip2==4.5.0
greenlet==1.1.2
idna==3.3
importlib-metadata==4.11.3
importlib-resources==5.7.1
ipaddr==2.2.0
ipaddress==1.0.23
ipwhois==1.2.0
itsdangerous==1.1.0
Jinja2==2.11.3
jsonpickle==2.1.0
kombu==5.2.4
Mako==1.2.2
MarkupSafe==1.1.0
maxminddb==2.2.0
migrate==0.3.8
more-itertools==8.12.0
multidict==6.0.2
mysqlclient==2.1.1
ordered-set==4.1.0
packaging==21.3
pbr==5.8.1
pexpect==4.8.0
ply==3.11
plyara==2.1.1
prompt-toolkit==3.0.29
ptyprocess==0.7.0
pycountry==22.3.5
pycparser==2.21
pyOpenSSL==22.0.0
pyparsing==3.0.8
python-dateutil==2.8.2
python-editor==1.0.4
python-magic==0.4.26
python-openid==2.2.5
python3-openid==3.2.0
pytz==2022.1
pyzipcode==3.0.1
redis==4.2.2
requests==2.27.1
semantic-version==2.10.0
setuptools-rust==1.5.2
protobuf==3.20.3
six==1.16.0
speaklater==1.3
SQLAlchemy==1.4.36
sqlalchemy-migrate==0.13.0
sqlparse==0.4.2
Tempita==0.5.2
termcolor==1.1.0
tabulate==0.8.9
threatkb==0.1.1
typing_extensions==4.4.0
urllib3==1.26.9
uWSGI==2.0.20
vine==5.0.0
wcwidth==0.2.5
Werkzeug==0.15.5
Whoosh==2.7.4
wrapt==1.14.0
WTForms==3.0.1
yara-python==4.2.0
yarl==1.7.2
zipp==3.8.0
