<div>

    <script type="text/ng-template" id="task-save.html">
        <form name="form" role="form" novalidate
              class="ng-scope ng-invalid ng-invalid-required ng-dirty"
              ng-submit="ok()">

            <a class="btn btn-sm btn-primary modal-fullscreen-button modal-fullscreen-button-abs-pos"
               ng-click="toggleFullscreen()">Toggle full screen</a>

            <div class="modal-header">
                <button type="button" class="close"
                        ng-click="cancel()">&times;
                </button>
                <h4 class="modal-title" id="myTasksLabel">
                    {{ task.id ? 'Edit' : 'Create' }} Task
                    <a><span ng-if="task.id" class="glyphicon glyphicon-link" style="font-size: .8em"
                             title="Copy permalink to clipboard" tooltip-placement="bottom" uib-tooltip="Copied!"
                             tooltip-trigger="'outsideClick'"
                             ngclipboard data-clipboard-text="{{ getPermalink(task.id) }}">
                    </span></a>
                    <a><span ng-if="task.id"
                             class="glyphicon {{ task.bookmarked ? 'glyphicon-star' : 'glyphicon-star-empty' }}"
                             style="font-size: .8em"
                             title="Bookmark Task artifact" tooltip-placement="bottom"
                             uib-tooltip="{{ task.bookmarked ? 'Bookmarked!' : 'Un-bookmarked!' }}"
                             tooltip-trigger="'outsideClick'"
                             ng-click="task.bookmarked ? unbookmark(task.id) : bookmark(task.id)">
                    </span></a>
                    <div ng-if="task.id">
                        <small>{{ getPermalink(task.id) }}</small>
                    </div>
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-group" ng-if="task.id">
                    <label>ID</label>
                    <label type="text" class="form-control" name="id" ng-model="task.id">{{ task.id }}</label>
                </div>

                <div class="form-group">
                    <label>Title</label>
                    <span class="error text-danger">*</span>
                    <input type="text" class="form-control" name="title"
                           ng-model="task.title" ng-required="true"
                           ng-maxlength="256" focus="true"/>
                </div>

                <div class="form-group" ng-if="task.date_created">
                    <label>Owner</label>
                    <ui-select ng-model="task.owner_user">
                        <ui-select-match placeholder="Select an owner ...">
                            <small><span ng-bind="$select.selected.email || task.owner_user.email"></span></small>
                        </ui-select-match>
                        <ui-select-choices
                                repeat="person in (users | filter: $select.search) track by person.id">
                            <small><span ng-bind="person.email"></span></small>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="form-group" ng-if="task.date_created">
                    <label>Date Created</label>

                    <label type="text" class="form-control" name="date_created"
                           ng-model="task.date_created">{{ task.date_created }}</label>
                </div>

                <div class="form-group" ng-if="task.date_modified">
                    <label>Date Modified</label>

                    <label type="text" class="form-control" name="date_modified"
                           ng-model="task.date_modified">{{ task.date_modified }}</label>
                </div>


                <div class="form-group">
                    <label>State</label>
                    <span class="error text-danger" ng-if="!task.state">*</span>

                    <ui-select ng-model="task.state">
                        <ui-select-match placeholder="Select a state or press delete to clear..">
                            <span ng-bind="$select.selected.state || task.state"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="state in (cfg_states | filter: $select.search) track by state.id">
                            <span ng-bind="state.state"></span>
                        </ui-select-choices>
                    </ui-select>

                </div>

                <div class="form-group">
                    <label>Description</label>
                    <span class="error text-danger">*</span>
                    <textarea class="form-control" placeholder="Enter description..." rows="6"
                              ng-model="task.description" ng-required="true"></textarea>
                </div>

                <div class="form-group">
                    <label>Final Artifact</label>
                    <textarea class="form-control" placeholder="Enter final artifact..." rows="6"
                              ng-model="task.final_artifact"></textarea>
                </div>

                <div class="form-group" ng-if="task.id">
                    <label>Comments ({{ task.comments.length }})</label>
                    <div class="input-group">
                        <textarea class="form-control" placeholder="Add a comment..." rows="4"
                                  ng-model="task.new_comment"></textarea>

                        <span class="input-group-btn" style="height:10px;">
                            <button class="btn btn-secondary" type="button"
                                    ng-click="add_comment(task.id)" style="height:100%;"><span
                                    class="glyphicon glyphicon-plus"></span></button>
                        </span>
                    </div>
                    <div ng-if="task.comments && task.comments.length" style="padding-top:3px;">
                        <uib-accordion>
                            <div uib-accordion-group class="panel-default"
                                 heading="See comments">
                                <ul class="list-group">
                                    <li class="list-group-item justify-content-between"
                                        ng-repeat="comment in task.comments | orderBy:'-date_created'">
                                        <div>
                                            <pre style="word-break: normal; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">{{ comment.comment }}</pre>
                                            <span>{{ comment.user.email }}&nbsp;<small>{{ pretty_date(comment.date_created) }}</small></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </uib-accordion>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left" ng-click="extract_artifact()">Extract Artifact
                </button>
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel
                </button>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            </div>
        </form>
    </script>
    <br>
    <div class="container-fluid">
        <button class="btn btn-secondary pull-right" style="color:inherit;" ng-click="create()">
            Create Task
        </button>
    </div>
    <br>
    <div ui-if="gridOptions.data.length > 0" ui-grid="gridOptions" ng-style="getTableHeight()"
         ui-grid-pagination ui-grid-auto-resize>
    </div>
</div>
