<div>

    <script type="text/ng-template" id="yara_rule-save.html">
        <style type="text/css">

            .CodeMirror {
                border: 1px solid #dddddd;
                height: 285px;
                cursor: text;
            }

            #rulesets .CodeMirror {
                border-bottom: None;
            }

            .CodeMirror-scroll {
                height: 435px;
            }

            .popover {
                width: auto;
            }

            .popover-title {
                display: none;
            }

            .popover-table td {
                padding: 0 10px;
                font-size: 11px;
            }

            .popover-content {
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }

        </style>
        <form name="form" role="form" novalidate
              class="ng-scope ng-invalid ng-invalid-required ng-dirty"
              ng-submit="ok()">

            <div class="modal-header">
                <button type="button" class="close"
                        ng-click="cancel()">&times;
                </button>

                <h4 class="modal-title" id="myC2ipLabel" ng-if="!yara_rule.id">Create Signature Artifact</h4>
                <h4 class="modal-title" id="myC2ipLabel" ng-if="yara_rule.id">Edit Signature Artifact</h4>

            </div>
            <div class="modal-body">
                <div class="form-group" ng-if="yara_rule.id">
                    <label>ID</label>
                    <input type="text" class="form-control" name="id" ng-model="yara_rule.id" readonly>
                </div>


                <div class="form-group" ng-if="yara_rule.date_created">
                    <label>date_created:</label>

                    <input type="text" class="form-control" name="date_created" ng-model="yara_rule.date_created"
                           readonly/>
                </div>

                <div class="form-group" ng-if="yara_rule.date_modified">
                    <label>date_modified:</label>

                    <input type="text" class="form-control" name="date_modified" ng-model="yara_rule.date_modified"
                           readonly>
                </div>

                <ui-codemirror ui-codemirror-opts="editor_options" ng-model="foo"></ui-codemirror>

                <div class="form-group">
                    <label>state:</label>

                    <ui-select ng-model="yara_rule.state">
                        <ui-select-match placeholder="Select a state..">
                            <span ng-bind="$select.selected.state || yara_rule.state"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="state in (cfg_states | filter: $select.search) track by state.id">
                            <span ng-bind="state.state"></span>
                        </ui-select-choices>
                    </ui-select>

                </div>

                <div class="form-group">
                    <label>name:</label>

                    <input type="text" class="form-control" name="name"
                           ng-model="yara_rule.name" ng-required="true"
                           ng-maxlength="128"/>
                    <span class="error" ng-show="form.name.$error.minlength">Must be at least  characters.</span>
                    <span class="error" ng-show="form.name.$error.maxlength">Must be at most 128 characters.</span>
                </div>

                <div class="form-group">
                    <label>test_status:</label>

                    <input type="text" class="form-control" name="test_status"
                           ng-model="yara_rule.test_status" ng-required="true"
                           ng-maxlength="16"/>
                    <span class="error" ng-show="form.test_status.$error.minlength">Must be at least  characters.</span>
                    <span class="error"
                          ng-show="form.test_status.$error.maxlength">Must be at most 16 characters.</span>
                </div>

                <div class="form-group">
                    <label>confidence:</label>

                    <input type="number" class="form-control" name="confidence"
                           ng-model="yara_rule.confidence" ng-required="true"
                           min=0 max=10/>
                    <span class="error" ng-show="form.confidence.$error.min">Must be greater than or equal to 0.</span>
                    <span class="error" ng-show="form.confidence.$error.max">Must be less than or equal to 10.</span>
                </div>

                <div class="form-group">
                    <label>severity:</label>

                    <input type="number" class="form-control" name="severity"
                           ng-model="yara_rule.severity" ng-required="true"
                           min=0 max=10/>
                    <span class="error" ng-show="form.severity.$error.min">Must be greater than or equal to 0.</span>
                    <span class="error" ng-show="form.severity.$error.max">Must be less than or equal to 10.</span>
                </div>

                <div class="form-group">
                    <label>description:</label>

                    <input type="text" class="form-control" name="description"
                           ng-model="yara_rule.description" ng-required="true"
                           ng-maxlength="4096"/>
                    <span class="error" ng-show="form.description.$error.minlength">Must be at least  characters.</span>
                    <span class="error"
                          ng-show="form.description.$error.maxlength">Must be at most 4096 characters.</span>
                </div>

                <div class="form-group">
                    <label>category:</label>

                    <input type="text" class="form-control" name="category"
                           ng-model="yara_rule.category" ng-required="true"
                           ng-maxlength="32"/>
                    <span class="error" ng-show="form.category.$error.minlength">Must be at least  characters.</span>
                    <span class="error" ng-show="form.category.$error.maxlength">Must be at most 32 characters.</span>
                </div>

                <div class="form-group">
                    <label>file_type:</label>

                    <input type="text" class="form-control" name="file_type"
                           ng-model="yara_rule.file_type" ng-required="true"
                           ng-maxlength="32"/>
                    <span class="error" ng-show="form.file_type.$error.minlength">Must be at least  characters.</span>
                    <span class="error" ng-show="form.file_type.$error.maxlength">Must be at most 32 characters.</span>
                </div>

                <div class="form-group">
                    <label>subcategory1:</label>

                    <input type="text" class="form-control" name="subcategory1"
                           ng-model="yara_rule.subcategory1" ng-required="false"
                           ng-maxlength="32"/>
                    <span class="error"
                          ng-show="form.subcategory1.$error.minlength">Must be at least  characters.</span>
                    <span class="error"
                          ng-show="form.subcategory1.$error.maxlength">Must be at most 32 characters.</span>
                </div>

                <div class="form-group">
                    <label>subcategory2:</label>

                    <input type="text" class="form-control" name="subcategory2"
                           ng-model="yara_rule.subcategory2" ng-required="false"
                           ng-maxlength="32"/>
                    <span class="error"
                          ng-show="form.subcategory2.$error.minlength">Must be at least  characters.</span>
                    <span class="error"
                          ng-show="form.subcategory2.$error.maxlength">Must be at most 32 characters.</span>
                </div>

                <div class="form-group">
                    <label>subcategory3:</label>

                    <input type="text" class="form-control" name="subcategory3"
                           ng-model="yara_rule.subcategory3" ng-required="false"
                           ng-maxlength="32"/>
                    <span class="error"
                          ng-show="form.subcategory3.$error.minlength">Must be at least  characters.</span>
                    <span class="error"
                          ng-show="form.subcategory3.$error.maxlength">Must be at most 32 characters.</span>
                </div>

                <div class="form-group">
                    <label>reference_link:</label>

                    <input type="text" class="form-control" name="reference_link"
                           ng-model="yara_rule.reference_link" ng-required="true"
                           ng-maxlength="2048"/>
                    <span class="error"
                          ng-show="form.reference_link.$error.minlength">Must be at least  characters.</span>
                    <span class="error"
                          ng-show="form.reference_link.$error.maxlength">Must be at most 2048 characters.</span>
                </div>

                <div class="form-group">
                    <label>reference_text:</label>

                    <input type="text" class="form-control" name="reference_text"
                           ng-model="yara_rule.reference_text" ng-required="false"
                           ng-maxlength="2048"/>
                    <span class="error"
                          ng-show="form.reference_text.$error.minlength">Must be at least  characters.</span>
                    <span class="error"
                          ng-show="form.reference_text.$error.maxlength">Must be at most 2048 characters.</span>
                </div>

                <div class="form-group">
                    <label>condition:</label>

                    <input type="text" class="form-control" name="condition"
                           ng-model="yara_rule.condition" ng-required="true"
                           ng-maxlength="2048"/>
                    <span class="error" ng-show="form.condition.$error.minlength">Must be at least  characters.</span>
                    <span class="error"
                          ng-show="form.condition.$error.maxlength">Must be at most 2048 characters.</span>
                </div>

                <div class="form-group">
                    <label>strings:</label>

                    <input type="text" class="form-control" name="strings"
                           ng-model="yara_rule.strings" ng-required="true"
                           ng-maxlength="30000"/>
                    <span class="error" ng-show="form.strings.$error.minlength">Must be at least  characters.</span>
                    <span class="error" ng-show="form.strings.$error.maxlength">Must be at most 30000 characters.</span>
                </div>

                <div class="form-group">
                    <label>tags:</label>

                    <tags-input ng-model="yara_rule.tags" on-tag-added="addedTag($tag)"
                                on-tag-removed="removedTag($tag)">
                        <auto-complete minlength="2" source="loadTags($query)"></auto-complete>
                    </tags-input>
                </div>

                <div class="form-group" ng-if="yara_rule.id">
                    <label>Comments</label>

                    <div class="input-group">
                        <textarea class="form-control" placeholder="Enter a comment..." rows="1"
                                  ng-model="yara_rule.new_comment"></textarea>

                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button"
                                    ng-click="add_comment(yara_rule.id)">Post</button>
                        </span>
                    </div>
                    <BR>

                    <div>
                        <ul class="list-group">
                            <li class="list-group-item justify-content-between"
                                ng-repeat="comment in yara_rule.comments | orderBy:'-date_created'">{{ print_comment(comment) }}
                                <span class="pull-right">{{ comment.user.email }}&nbsp;<small>{{ pretty_date(comment.date_created) }}</small></span>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel
                </button>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            </div>
        </form>
    </script>


    <br>
    <div class="container-fluid">

        <div class="inner-addon left-addon col-md-4" style="padding-left:0px;">
            <i class="glyphicon glyphicon-search"></i>
            <input type="text" class="form-control" placeholder="Search" ng-model="search"/>
        </div>
        <a class="btn-link pull-right" style="color:inherit;" ng-click="create()">
            <span class="glyphicon glyphicon-plus-sign"></span>
        </a>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>

                <th>date_created</th>

                <th>date_modified</th>

                <th>state</th>

                <th>name</th>

                <th>test_status</th>

                <th>confidence</th>

                <th>severity</th>

                <th>description</th>

                <th>category</th>

                <th>file_type</th>

                <th>subcategory1</th>

                <th>subcategory2</th>

                <th>subcategory3</th>

                <th>reference_link</th>

                <th>reference_text</th>

                <th>condition</th>

                <th>strings</th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="yara_rule in yara_rules track by $index" ng-if="yara_rule.date_created">
                <td>{{ yara_rule.id }}</td>

                <td>{{ yara_rule.date_created  | date:'yyyy-MM-dd'}}</td>

                <td>{{ yara_rule.date_modified  | date:'yyyy-MM-dd'}}</td>

                <td>{{ yara_rule.state }}</td>

                <td>{{ yara_rule.name }}</td>

                <td>{{ yara_rule.test_status }}</td>

                <td>{{ yara_rule.confidence }}</td>

                <td>{{ yara_rule.severity }}</td>

                <td>{{ yara_rule.description }}</td>

                <td>{{ yara_rule.category }}</td>

                <td>{{ yara_rule.file_type }}</td>

                <td>{{ yara_rule.subcategory1 }}</td>

                <td>{{ yara_rule.subcategory2 }}</td>

                <td>{{ yara_rule.subcategory3 }}</td>

                <td>{{ yara_rule.reference_link }}</td>

                <td>{{ yara_rule.reference_text }}</td>

                <td>{{ yara_rule.condition }}</td>

                <td>{{ yara_rule.strings }}</td>

                <td>
                    <button type="submit"
                            ng-click="update(yara_rule.id)"
                            class="btn">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </button>
                    <button type="submit"
                            ng-click="delete(yara_rule.id)"
                            class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span> Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
