<div>

    <script type="text/ng-template" id="yara_rule-save.html">
        <style type="text/css">

            #rulesets .CodeMirror {
                border-bottom: None;
            }

            .popover {
                width: auto;
            }

            .popover-title {
                display: none;
            }

            .popover-table td {
                padding: 0 10px;
                font-size: 11px;
            }

            .popover-content {
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }

        </style>
        <form name="form" role="form" novalidate
              class="ng-scope ng-invalid ng-invalid-required ng-dirty"
              ng-submit="ok()">

            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()">&times;</button>

                <h4 class="modal-title" id="myC2ipLabel" style="float: left">
                    {{ yara_rule.id ? 'Edit' : 'Create' }} Signature Artifact
                    <a>
                        <span ng-if="yara_rule.id" class="glyphicon glyphicon-link" style="font-size: .8em"
                              title="Copy permalink to clipboard" tooltip-placement="bottom" uib-tooltip="Copied!"
                              tooltip-trigger="'outsideClick'"
                              ngclipboard data-clipboard-text="{{ getPermalink(yara_rule.id) }}">
                        </span>
                    </a>
                </h4>
                <div class="pull-right" ng-if="yara_rule.id"
                     style="margin: 0 35px 0 0;">
                    <button ng-if="negTestDir.value" type="button" class="btn btn-primary"
                            ng-click="negTestSignature(yara_rule.id)">{{ testButtonTextNeg }}
                    </button>
                    <button type="button" class="btn btn-primary"
                            ng-click="testSignature(yara_rule.id)">{{ testButtonTextPos }}
                    </button>
                </div>
            </div>
            <div class="modal-body">

                <div class="form-group" ng-if="yara_rule.id">
                    <label>Revision</label>
                    <label type="text" class="form-control">{{ yara_rule.revision }} M{{ yara_rule.last_revision_date }}
                        by {{ yara_rule.modified_user.email }}</label>
                </div>

                <div class="form-group" ng-if="yara_rule.eventid">
                    <label>Event ID</label>
                    <label type="text" class="form-control">{{ yara_rule.eventid }}</label>
                </div>


                <div class="form-group">
                    <label>Name:</label>
                    <span class="error" ng-show="form.name.$error.minlength">Must be at least  characters.</span>
                    <span class="error" ng-show="form.name.$error.maxlength">Must be at most 128 characters.</span>
                    <span class="error text-danger" ng-if="!yara_rule.name">*</span>
                    <input class="form-control" name="name"
                           ng-model="yara_rule.name" ng-required="true"
                           ng-maxlength="128"/>
                </div>


                <label>Strings Editor</label>
                <span class="error text-danger" ng-if="!yara_rule.strings">*</span>
                <ui-codemirror ui-codemirror-opts="editor_options" ng-model="yara_rule.strings"></ui-codemirror>
                <BR>

                <label>Conditions Editor</label>
                <span class="error text-danger" ng-if="!yara_rule.condition">*</span>
                <ui-codemirror ui-codemirror-opts="editor_options" ng-model="yara_rule.condition"></ui-codemirror>
                <BR>

                <div class="form-group">
                    <label>State:</label>
                    <span class="error text-danger" ng-if="!yara_rule.state">*</span>
                    <ui-select ng-model="yara_rule.state">
                        <ui-select-match placeholder="Select a state..">
                            <span ng-bind="$select.selected.state || yara_rule.state"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="state in (cfg_states | filter: $select.search) track by state.id">
                            <span ng-bind="state.state"></span>
                        </ui-select-choices>
                    </ui-select>

                </div>

                <div class="form-group">
                    <label>Confidence:</label>
                    <span class="error" ng-show="form.confidence.$error.min">Must be greater than or equal to 0.</span>
                    <span class="error" ng-show="form.confidence.$error.max">Must be less than or equal to 10.</span>
                    <span class="error text-danger" ng-if="!yara_rule.confidence">*</span>
                    <input type="number" class="form-control" name="confidence"
                           ng-model="yara_rule.confidence" ng-required="true"
                           min=0 max=10/>
                </div>

                <div class="form-group">
                    <label>Severity:</label>
                    <span class="error" ng-show="form.severity.$error.min">Must be greater than or equal to 0.</span>
                    <span class="error" ng-show="form.severity.$error.max">Must be less than or equal to 10.</span>
                    <span class="error text-danger" ng-if="!yara_rule.severity">*</span>
                    <input type="number" class="form-control" name="severity"
                           ng-model="yara_rule.severity" ng-required="true"
                           min=0 max=10/>
                </div>

                <div class="form-group">
                    <label>Description:</label>
                    <span class="error" ng-show="form.description.$error.minlength">Must be at least  characters.</span>
                    <span class="error"
                          ng-show="form.description.$error.maxlength">Must be at most 4096 characters.</span>
                    <span class="error text-danger" ng-if="!yara_rule.description">*</span>
                    <textarea class="form-control" placeholder="Enter a description..." rows="4"
                              ng-model="yara_rule.description" ng-maxlength="4096"></textarea>

                </div>

                <div class="form-group">
                    <label>Category:</label>
                    <span class="error text-danger" ng-if="!yara_rule.category">*</span>
                    <ui-select ng-model="yara_rule.category">
                        <ui-select-match placeholder="Select a Category ...">
                            <span ng-bind="$select.selected.category || yara_rule.category"></span>
                        </ui-select-match>
                        <ui-select-choices
                                repeat="category in (cfg_category_range_mapping | filter: $select.search) track by category.id">
                            <span ng-bind="category.category"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="form-group">
                    <label>SubCategory 1:</label>
                    <span class="error"
                          ng-show="form.subcategory1.$error.minlength">Must be at least  characters.</span>
                    <span class="error"
                          ng-show="form.subcategory1.$error.maxlength">Must be at most 32 characters.</span>
                    <input type="text" class="form-control" name="subcategory1"
                           ng-model="yara_rule.subcategory1" ng-required="false"
                           ng-maxlength="32"/>
                </div>

                <div class="form-group">
                    <label>Subcategory 2:</label>
                    <span class="error"
                          ng-show="form.subcategory2.$error.minlength">Must be at least  characters.</span>
                    <span class="error"
                          ng-show="form.subcategory2.$error.maxlength">Must be at most 32 characters.</span>
                    <input class="form-control" name="subcategory2"
                           ng-model="yara_rule.subcategory2" ng-required="false"
                           ng-maxlength="32"/>

                </div>

                <div class="form-group">
                    <label>Subcategory 3:</label>
                    <span class="error"
                          ng-show="form.subcategory3.$error.minlength">Must be at least  characters.</span>
                    <span class="error"
                          ng-show="form.subcategory3.$error.maxlength">Must be at most 32 characters.</span>

                    <input class="form-control" name="subcategory3"
                           ng-model="yara_rule.subcategory3" ng-required="false"
                           ng-maxlength="32"/>
                </div>

                <div class="form-group">
                    <label>Reference Link:</label>
                    <a target="_blank" ng-if="yara_rule.reference_link"
                       href="{{ yara_rule.reference_link.indexOf('http') == 0 ? yara_rule.reference_link : 'http://' + yara_rule.reference_link }}">
                        <span class="glyphicon glyphicon-link" style="font-size: 1.0em;"></span>
                    </a>
                    <span class="error"
                          ng-show="form.reference_link.$error.minlength">Must be at least  characters.</span>
                    <span class="error"
                          ng-show="form.reference_link.$error.maxlength">Must be at most 2048 characters.</span>
                    <span class="error text-danger" ng-if="!yara_rule.reference_link">*</span>
                    <input class="form-control" name="reference_link"
                           ng-model="yara_rule.reference_link" ng-required="true"
                           ng-maxlength="2048"/>
                </div>

                <div class="form-group">
                    <label>Tags:</label>

                    <tags-input ng-model="yara_rule.tags" on-tag-added="addedTag($tag)"
                                on-tag-removed="removedTag($tag)" add-on-paste="true">
                        <auto-complete source="loadTags($query)"
                                       min-length="0"
                                       load-on-focus="true"
                                       load-on-empty="true">
                        </auto-complete>
                    </tags-input>
                </div>

                <div class="form-group" ng-if="yara_rule.id">
                    <label>Comments</label>

                    <div class="input-group">
                        <textarea class="form-control" placeholder="Enter a comment..." rows="8"
                                  ng-model="yara_rule.new_comment"></textarea>

                        <span class="input-group-btn" style="height:10px;">
                            <button class="btn btn-secondary" type="button"
                                    ng-click="add_comment(yara_rule.id)" style="height:100%;"><span
                                    class="glyphicon glyphicon-plus"></span></button>
                        </span>
                    </div>
                    <div style="padding-top:3px;">
                        <ul class="list-group">
                            <li class="list-group-item justify-content-between"
                                ng-repeat="comment in yara_rule.comments | orderBy:'-date_created'">{{ print_comment(comment) }}
                                <span class="pull-right">{{ comment.user.email }}&nbsp;<small>{{ pretty_date(comment.date_created) }}</small></span>
                            </li>
                        </ul>
                    </div>

                    <div>
                        <uib-accordion>
                            <div uib-accordion-group class="panel-default"
                                 heading="{{ revision.revision }} @ {{ revision.date_created }} by {{ revision.user.email }}"
                                 ng-repeat="revision in yara_rule.revisions">
                                <pre>{{ revision.rule_json | json:4}}</pre>
                            </div>
                        </uib-accordion>
                    </div>

                </div>

                <div class="form-group" ng-if="yara_rule.id">
                    <label>Attachments</label>
                    <div ngf-select="" ngf-drop="" ng-model="files" ngf-model-invalid="invalidFiles"
                         ngf-change="upload(yara_rule.id, $files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)"
                         ngf-model-options="modelOptionsObj" ngf-multiple="true" ngf-pattern="pattern"
                         ngf-accept="acceptSelect" ngf-drag-over-class="dragover" ngf-validate="validateObj"
                         ngf-allow-dir="true" class="drop-box" ngf-drop-available="dropAvailable">Select Files
                        <span ng-show="dropAvailable"> or Drop Files</span>
                    </div>
                    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                    <div style="padding-top:3px;">
                        <ul class="list-group">
                            <li class="list-group-item justify-content-between"
                                ng-repeat="f in yara_rule.files | orderBy:'-last_revision_date'">
                                <a href="ThreatKB/files/{{ f.entity_type }}/{{ f.entity_id }}/{{ f.id }}">{{ f.filename }}</a>
                                <span class="pull-right">{{ f.user.email }}&nbsp;<small>{{ pretty_date(f.last_revision_date) }}</small></span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div>
                    <label>Revisions</label>
                    <div>
                        <uib-accordion>
                            <div uib-accordion-group class="panel-default"
                                 heading="{{ revision.revision }} @ {{ revision.date_created }} by {{ revision.user.email }}"
                                 ng-repeat="revision in yara_rule.revisions">
                                <pre>{{ revision.rule_json | json:4}}</pre>
                            </div>
                        </uib-accordion>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="pull-left" style="width:250px; padding-right:4px;">
                    <ui-select ng-model="selected_signature"
                               on-select="update_selected_signature($select.selected)">
                        <ui-select-match placeholder="Select a signature ...">
                            <small><span ng-bind="$select.selected.name || row.entity.name"></span></small>
                        </ui-select-match>
                        <ui-select-choices
                                repeat="yr in (yara_rules | filter: $select.search) track by yr.id">
                            <small><span>{{ yr.eventid }} - {{ yr.name }}</span></small>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <button type="button" class="btn btn-danger pull-left" ng-click="merge_signature()">Merge</button>
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel
                    </button>
                    <button ng-disabled="form.$invalid || form.$pristine" class="btn btn-primary">Save
                    </button>
                </div>
                <div class="pull-right" style="padding: 5px 10px 0 5px;">
                    <input type="checkbox" class="pull-left" ng-model="yara_rule.do_not_bump_revision">
                    &nbsp;Do not bump revision
                </div>
            </div>
        </form>
    </script>
    <br>
    <div class="container-fluid">
        <a class="btn-link pull-right" style="color:inherit;" ng-click="create()" title="Create Signatures">
            <span class="glyphicon glyphicon-plus-sign"></span>
        </a>
    </div>
    <br>
    <div ui-if="gridOptions.data.length > 0" ui-grid="gridOptions" ng-style="getTableHeight()"
         ui-grid-pagination ui-grid-auto-resize>
    </div>
</div>
