<div>

    <script type="text/ng-template" id="yara_rule-save.html">
        <style type="text/css">

            #rulesets .CodeMirror {
                border-bottom: None;
            }

            .popover {
                width: auto;
            }

            .popover-title {
                display: none;
            }

            .popover-table td {
                padding: 0 10px;
                font-size: 11px;
            }

            .popover-content {
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }

        </style>
        <form name="form" role="form" novalidate
              class="ng-scope ng-invalid ng-invalid-required ng-dirty"
              ng-submit="ok()">

            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()">&times;</button>

                <h4 class="modal-title" id="myC2ipLabel" style="float: left">
                    {{ yara_rule.id ? 'Edit' : 'Create' }} Signature Artifact&nbsp;
                    <a><span ng-if="yara_rule.id" class="glyphicon glyphicon-link" style="font-size: .8em"
                             title="Copy permalink to clipboard" tooltip-placement="bottom"
                             uib-tooltip="Copied permalink!"
                             tooltip-trigger="'outsideClick'"
                             ngclipboard data-clipboard-text="{{ getPermalink(yara_rule.id) }}">
                    </span></a>
                    <a><span ng-if="yara_rule.id"
                             class="glyphicon {{ yara_rule.bookmarked ? 'glyphicon-star' : 'glyphicon-star-empty' }}"
                             style="font-size: .8em"
                             title="Bookmark Signature artifact" tooltip-placement="bottom"
                             uib-tooltip="{{ yara_rule.bookmarked ? 'Bookmarked!' : 'Un-bookmarked!' }}"
                             tooltip-trigger="'outsideClick'"
                             ng-click="yara_rule.bookmarked ? unbookmark(yara_rule.id) : bookmark(yara_rule.id)">
                    </span></a>
                    <div ng-if="yara_rule.id">
                        <small>{{ getPermalink(yara_rule.id) }}</small>
                    </div>
                </h4>

                <div class="pull-right" ng-if="yara_rule.id"
                     style="margin: 0 35px 0 0;">
                    <a>
                        <button class="btn btn-primary" ng-if="yara_rule.id"
                                title="Copy Yara Rule to clipboard" tooltip-placement="bottom"
                                uib-tooltip="Copied Yara Rule!"
                                tooltip-trigger="'outsideClick'"
                                ngclipboard data-clipboard-text="{{ yara_rule.yara_rule_string }}">
                            Copy To Clipboard
                        </button>
                    </a>
                    <button ng-if="negTestDir.value" type="button" class="btn btn-primary"
                            ng-click="negTestSignature(yara_rule.id)">{{ testButtonTextNeg }}
                    </button>
                    <button type="button" class="btn btn-primary"
                            ng-click="testSignature(yara_rule.id)">{{ testButtonTextPos }}
                    </button>
                </div>
            </div>
            <div class="modal-body">

                <div class="form-group" ng-if="yara_rule.id">
                    <label>Revision</label>
                    <label type="text" class="form-control">{{ yara_rule.revision }} M{{ yara_rule.last_revision_date }}
                        by {{ yara_rule.modified_user.email }}</label>
                </div>

                <div class="form-group" ng-if="yara_rule.eventid">
                    <label>Event ID</label>
                    <label type="text" class="form-control">{{ yara_rule.eventid }}</label>
                </div>


                <div class="form-group">
                    <label>Name:</label>
                    <span class="error" ng-show="form.name.$error.minlength">Must be at least  characters.</span>
                    <span class="error" ng-show="form.name.$error.maxlength">Must be at most 128 characters.</span>
                    <span class="error text-danger" ng-if="!yara_rule.name">*</span>
                    <input class="form-control" name="name"
                           ng-model="yara_rule.name" ng-required="true"
                           ng-maxlength="128"/>
                </div>


                <label>Strings Editor</label>
                <span class="error text-danger" ng-if="!yara_rule.strings">*</span>
                <span class="pull-right">Wrap&nbsp;<input type="checkbox" ng-checked="wrap_editor"
                                                          ng-model="wrap_editor"
                                                          ng-change="change_wrap_editor()"></span>
                <ui-codemirror ui-codemirror-opts="editor_options" ng-model="yara_rule.strings"></ui-codemirror>
                <BR>

                <label>Conditions Editor</label>
                <span class="error text-danger" ng-if="!yara_rule.condition">*</span>
                <span class="pull-right">Wrap&nbsp;<input type="checkbox" ng-checked="wrap_editor"
                                                          ng-model="wrap_editor"
                                                          ng-change="change_wrap_editor()"></span>
                <ui-codemirror ui-codemirror-opts="editor_options" ng-model="yara_rule.condition"></ui-codemirror>
                <BR>

                <div class="form-group">
                    <label>State:</label>
                    <span class="error text-danger">*</span>
                    <ui-select ng-model="yara_rule.state" ng-required="true" on-select="">
                        <ui-select-match placeholder="Select a state or press delete to clear..">
                            <span ng-bind="$select.selected.state || yara_rule.state"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="state in (cfg_states | filter: $select.search) track by state.id">
                            <span ng-bind="state.state"></span>
                        </ui-select-choices>
                    </ui-select>

                </div>

                <div class="form-group">
                    <label>Category:</label>
                    <span class="error text-danger">*</span>
                    <ui-select ng-model="yara_rule.category" ng-required="true">
                        <ui-select-match placeholder="Select a category or press delete to clear...">
                            <span ng-bind="$select.selected.category || yara_rule.category"></span>
                        </ui-select-match>
                        <ui-select-choices
                                repeat="category in (cfg_category_range_mapping | filter: $select.search) track by category.id">
                            <span ng-bind="category.category"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <!-- START DYNAMICALLY GENERATED CONTENT -->
                <div class="form-group" ng-repeat="m in metadata[0].string" ng-if="yara_rule.id">
                    <label>{{ m.key }}:</label>
                    <span class="error text-danger" ng-if="m.required">*</span>
                    <input class="form-control" ng-model="yara_rule.metadata_values[m.key].value"
                           ng-required="m.required"/>
                </div>

                <div class="form-group" ng-repeat="m in metadata[0].string" ng-if="!yara_rule.id">
                    <label>{{ m.key }}:</label>
                    <span class="error text-danger" ng-if="m.required">*</span>
                    <input class="form-control" ng-model="m.default" ng-required="m.required">
                </div>

                <div class="form-group" ng-repeat="m in metadata[0].integer" ng-if="yara_rule.id">
                    <label>{{ m.key }}:</label>
                    <span class="error text-danger" ng-if="m.required">*</span>
                    <input class="form-control" ng-model="yara_rule.metadata_values[m.key].value" type="number"
                           ng-required="m.required"/>
                </div>

                <div class="form-group" ng-repeat="m in metadata[0].integer" ng-if="!yara_rule.id">
                    <label>{{ m.key }}:</label>
                    <span class="error text-danger" ng-if="m.required">*</span>
                    <input class="form-control" ng-model="m.default" type="number" ng-required="m.required">
                </div>

                <div class="form-group" ng-repeat="m in metadata[0].date" ng-if="yara_rule.id">
                    <label>{{ m.key }}:</label>
                    <input class="form-control" ng-model="yara_rule.metadata_values[m.key].value" type="date"
                           ng-required="m.required" format-date/>
                </div>

                <div class="form-group" ng-repeat="m in metadata[0].date" ng-if="!yara_rule.id">
                    <label>{{ m.key }}:</label>
                    <span class="error text-danger" ng-if="m.required">*</span>
                    <input class="form-control" ng-model="m.default" type="date" ng-required="m.required" format-date>
                </div>

                <div class="form-group" ng-repeat="m in metadata[0].multiline_comment" ng-if="yara_rule.id">
                    <label>{{ m.key }}:</label>
                    <span class="error text-danger" ng-if="m.required">*</span>
                    <textarea class="form-control" ng-model="yara_rule.metadata_values[m.key].value" rows="2"
                              ng-required="m.required"></textarea>
                </div>

                <div class="form-group" ng-repeat="m in metadata[0].multiline_comment" rows="2" ng-if="!yara_rule.id">
                    <label>{{ m.key }}:</label>
                    <span class="error text-danger" ng-if="m.required">*</span>
                    <textarea class="form-control" ng-model="m.default" ng-required="m.required"></textarea>
                </div>

                <div class="form-group" ng-repeat="m in metadata[0].select" ng-if="yara_rule.id">
                    <label>{{ m.key }}</label>
                    <span class="error text-danger" ng-if="m.required">*</span>
                    <ui-select ng-model="yara_rule.metadata_values[m.key].value"
                               on-select="update_selected_metadata(m, $select.selected)" ng-required="m.required">
                        <ui-select-match placeholder="Select an option or press delete to clear...">
                            <small><span
                                    ng-bind="$select.selected.choice || yara_rule.metadata_values[m.key].value"></span>
                            </small>
                        </ui-select-match>
                        <ui-select-choices
                                repeat="option in (m.choices | filter: $select.search) track by option.id">
                            <small><span>{{ option.choice }}</span></small>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="form-group" ng-repeat="m in metadata[0].select" ng-if="!yara_rule.id">
                    <label>{{ m.key }}</label>
                    <span class="error text-danger" ng-if="m.required">*</span>
                    <ui-select ng-model="m.default"
                               on-select="update_selected_metadata(m, $select.selected)" ng-required="m.required">
                        <ui-select-match placeholder="Select an option or press delete to clear...">
                            <small><span ng-bind="$select.selected.choice || m.default"></span></small>
                        </ui-select-match>
                        <ui-select-choices
                                repeat="option in (m.choices | filter: $select.search) track by option.id">
                            <small><span>{{ option.choice }}</span></small>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <!-- /START DYNAMICALLY GENERATED CONTENT -->

                <div class="form-group">
                    <label>Tags:</label>

                    <tags-input ng-model="yara_rule.tags" on-tag-added="addedTag($tag)"
                                on-tag-removed="removedTag($tag)" add-on-paste="true">
                        <auto-complete source="loadTags($query)"
                                       min-length="0"
                                       load-on-focus="true"
                                       load-on-empty="true">
                        </auto-complete>
                    </tags-input>
                </div>

                <div class="form-group" ng-if="yara_rule.id">

                    <div class="input-group">
                        <textarea class="form-control" placeholder="Add a comment..." rows="4"
                                  ng-model="yara_rule.new_comment"></textarea>

                        <span class="input-group-btn" style="height:10px;">
                            <button class="btn btn-secondary" type="button"
                                    ng-click="add_comment(yara_rule.id)" style="height:100%;"><span
                                    class="glyphicon glyphicon-plus"></span></button>
                        </span>
                    </div>

                    <label>Comments ({{ yara_rule.comments.length }})</label>
                    <div style="padding-top:3px;">
                        <uib-accordion>
                            <div uib-accordion-group class="panel-default"
                                 heading="See comments">
                                <ul class="list-group">
                                    <li class="list-group-item justify-content-between"
                                        ng-repeat="comment in yara_rule.comments | orderBy:'-date_created'">
                                        <div>
                                            <pre style="word-break: normal; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">{{ comment.comment }}</pre>
                                            <span>{{ comment.user.email }}&nbsp;<small>{{ pretty_date(comment.date_created) }}</small></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </uib-accordion>
                    </div>

                </div>

                <div class="form-group" ng-if="yara_rule.id">
                    <div ngf-select="" ngf-drop="" ng-model="files" ngf-model-invalid="invalidFiles"
                         ngf-change="upload(yara_rule.id, $files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)"
                         ngf-model-options="modelOptionsObj" ngf-multiple="true" ngf-pattern="pattern"
                         ngf-accept="acceptSelect" ngf-drag-over-class="dragover" ngf-validate="validateObj"
                         ngf-allow-dir="true" class="drop-box" ngf-drop-available="dropAvailable">Select Files
                        <span ng-show="dropAvailable"> or Drop Files</span>
                    </div>
                    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                </div>

                <div>
                    <label>Attached Files ({{ yara_rule.files.length }})</label>
                    <div>
                        <uib-accordion>
                            <div uib-accordion-group class="panel-default"
                                 heading="See files">
                                <ul class="list-group">
                                    <li class="list-group-item justify-content-between"
                                        ng-repeat="f in yara_rule.files | orderBy:'-last_revision_date'">
                                        <a title="{{ file_store_path.value }}/{{ entity_mapping.SIGNATURE }}/{{ f.entity_id }}/{{ f.filename }}"
                                           href="ThreatKB/files/{{ f.entity_type }}/{{ f.entity_id }}/{{ f.id }}">{{ f.filename }}</a>&nbsp;<span
                                            ng-if="f.date_modified"
                                            style="font-size: 0.8em;">({{ pretty_date(f.date_modified) }} by {{ f.user.email }})</span>
                                        <div class="pull-right">
                                            <div><a title="Search VirusTotal"
                                                    href="https://www.virustotal.com/#/file/{{ f.sha256 }}/detection"
                                                    target="_blank"><span
                                                    class="glyphicon glyphicon-certificate"></span></a>
                                                &nbsp;
                                                <a title="Search Google"
                                                   href="https://google.com/search?q={{ f.sha256 }}"
                                                   target="_blank"><span
                                                        class="glyphicon glyphicon-globe"></span></a>
                                                &nbsp;
                                                <a>
                                            <span class="glyphicon glyphicon-link" style="font-size: 1.2em;"
                                                  title="Copy FilePath to clipboard" tooltip-placement="bottom"
                                                  uib-tooltip="Copied Filepath!"
                                                  tooltip-trigger="'outsideClick'"
                                                  ngclipboard
                                                  data-clipboard-text="{{ file_store_path.value }}/{{ entity_mapping.SIGNATURE }}/{{ f.entity_id }}/{{ f.filename }}">
                                            </span>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </uib-accordion>
                    </div>
                </div>

                <div>
                    <label>Revisions ({{ yara_rule.revisions.length }})</label>
                    <div style="padding-top:3px;">
                        <uib-accordion>
                            <div uib-accordion-group class="panel-default"
                                 heading="See revisions">
                                <ul class="list-group">
                                    <li class="list-group-item justify-content-between"
                                    >
                                        <div>
                                            <uib-accordion>
                                                <div uib-accordion-group class="panel-default"
                                                     heading="{{ revision.revision }} @ {{ revision.date_created }} by {{ revision.user.email }}"
                                                     ng-repeat="revision in yara_rule.revisions | orderBy:'-date_created'">
                                                    <pre>{{ revision.rule_json | json:4}}</pre>
                                                </div>
                                            </uib-accordion>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </uib-accordion>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <div class="pull-left" style="width:350px; padding-right:4px;">
                    <ui-select ng-model="selected_signature"
                               on-select="update_selected_signature($select.selected)">
                        <ui-select-match placeholder="Select a signature or press delete to clear...">
                            <small><span ng-bind="$select.selected.name || row.entity.name"></span></small>
                        </ui-select-match>
                        <ui-select-choices
                                repeat="yr in (yara_rules | filter: $select.search) track by yr.id">
                            <small><span>{{ yr.eventid }} - {{ yr.name }}</span></small>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <button type="button" class="btn btn-danger pull-left" ng-click="merge_signature()">Merge</button>
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel
                    </button>
                    <button ng-disabled="form.$invalid || form.$pristine" class="btn btn-primary">Save
                    </button>
                </div>
                <div class="pull-right" style="padding: 5px 10px 0 5px;">
                    <input type="checkbox" class="pull-left" ng-model="yara_rule.do_not_bump_revision">
                    &nbsp;Do not bump revision
                </div>
            </div>
        </form>
    </script>
    <br>
    <div class="container-fluid">
        <button type="button" class="btn btn-secondary" ng-disabled="!checked_counter" ng-click="copy_rules()">Copy
            ({{ checked_counter }})
        </button>
        <button type="button" class="btn btn-secondary" ng-disabled="!checked_counter" ng-click="download_rules()">
            Download ({{ checked_counter }})
        </button>

        <button class="btn btn-secondary pull-right" style="color:inherit; padding-left:10px;" ng-click="create()"
                title="Create Signatures">
            Create Signature
        </button>
    </div>
    <br>
    <div ui-if="gridOptions.data.length > 0" ui-grid="gridOptions" ng-style="getTableHeight()"
         ui-grid-pagination ui-grid-auto-resize>
    </div>
</div>
