<div>
    <script type="text/ng-template" id="c2ip-batch_edit.html">
        <form name="form" novalidate
              class="ng-scope ng-invalid ng-invalid-required ng-dirty"
              ng-submit="ok()">
            <a class="btn btn-sm btn-primary modal-fullscreen-button modal-fullscreen-button-abs-pos"
               ng-click="toggleFullscreen()">Toggle full screen</a>
            <div class="modal-header">
                <button type="button" class="close"
                        ng-click="cancel()">&times;
                </button>
                <h4 class="modal-title" style="float: left; margin-right: 10px;">
                    Batch Edit Selected C2 IPs
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Owner</label>
                    <ui-select ng-model="batch.owner" name="owner">
                        <ui-select-match placeholder="Select an owner ...">
                            <small><span ng-bind="$select.selected.email"></span></small>
                        </ui-select-match>
                        <ui-select-choices
                            repeat="person in (users | filter: $select.search) track by person.id">
                            <small><span ng-bind="person.email"></span></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label>State</label>
                    <ui-select ng-model="batch.state" name="state">
                        <ui-select-match placeholder="Select a state or press delete to clear..">
                            <span ng-bind="$select.selected.state"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="state in (cfg_states | filter: $select.search) track by state.id">
                            <span ng-bind="state.state"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" placeholder="Enter description..." rows="6"
                              ng-model="batch.description"></textarea>
                </div>
                <div class="form-group">
                    <label>Expiration Timestamp</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="expiration_timestamp" ng-required="false"
                               date-formatter uib-datepicker-popup="yyyy-MM-dd" alt-input-formats="['yyyy-MM-ddTHH:mm:ss']"
                               datepicker-options="dateOptions" close-text="Close"
                               is-open="expiration_timestamp.opened"
                               ng-model="batch.expiration_timestamp" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openDatepicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Tags</label>
                    <tags-input ng-model="batch.tags">
                        <auto-complete source="loadTags($query)"
                                       min-length="0"
                                       load-on-focus="true"
                                       load-on-empty="true">
                        </auto-complete>
                    </tags-input>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Close
                </button>
                <button ng-disabled="form.$invalid || form.$pristine" class="btn btn-primary">Save</button>
            </div>
        </form>
    </script>
    <script type="text/ng-template" id="c2ip-view.html">
        <a class="btn btn-sm btn-primary modal-fullscreen-button modal-fullscreen-button-abs-pos"
           ng-click="toggleFullscreen()">Toggle full screen</a>
        <div class="modal-header">
            <button type="button" class="close"
                    ng-click="cancel()">&times;
            </button>
            <a class="btn btn-sm  btn-primary" ng-if="c2ip.id"
               ng-click="edit(c2ip.id)">Edit
            </a>
            <h4 class="modal-title" id="viewIpLabel" style="float: left; margin-right: 10px;">
                View IP Artifact
            </h4>
        </div>
        <div class="modal-body">
            <div class="form-group text-center">
                <span ng-repeat="reference in static_references.IP track by $index">
                    | &nbsp;&nbsp;
                    <a href="{{ reference.url }}{{ c2ip.ip }}" target="_blank">{{ reference.name }}</a> &nbsp;&nbsp;
                </span>
                |
            </div>
            <div class="form-group" ng-if="c2ip.ip">
                <label>IP</label>
                <input readonly type="text" class="form-control" ng-model="c2ip.ip"/>
            </div>
            <div class="form-group" ng-if="c2ip.owner_user">
                <label>Owner</label>
                <input readonly type="text" class="form-control" ng-model="c2ip.owner_user.email"/>
            </div>

            <div class="form-group" ng-if="c2ip.date_created">
                <label>Date Created</label>
                <input readonly type="text" class="form-control" ng-value="c2ip.date_created | date:'yyyy-MM-dd hh:mm:ss'"/>
            </div>

            <div class="form-group" ng-if="c2ip.date_modified">
                <label>Date Modified</label>
                <input readonly type="text" class="form-control" ng-value="c2ip.date_modified | date:'yyyy-MM-dd hh:mm:ss'"/>
            </div>

            <div class="form-group" ng-if="c2ip.description">
                <label>Description</label>
                <textarea readonly type="text" class="form-control" ng-model="c2ip.description"></textarea>
            </div>

            <div class="form-group" ng-if="c2ip.state">
                <label>State</label>
                <input readonly type="text" class="form-control" ng-model="c2ip.state"/>
            </div>

            <div class="form-group" ng-if="c2ip.asn">
                <label>ASN</label>
                <input readonly type="text" class="form-control" ng-model="c2ip.asn"/>
            </div>

            <div class="form-group" ng-if="c2ip.country">
                <label>Country</label>
                <input readonly type="text" class="form-control" ng-model="c2ip.country"/>
            </div>

            <div class="form-group" ng-if="c2ip.expiration_timestamp">
                <label>Expiration Timestamp</label>
                <input readonly type="text" class="form-control" name="expiration_timestamp" ng-required="false"
                       date-formatter uib-datepicker-popup="yyyy-MM-dd" alt-input-formats="['yyyy-MM-ddTHH:mm:ss']"
                       datepicker-options="dateOptions" close-text="Close"
                       is-open="expiration_timestamp.opened"
                       ng-model="c2ip.expiration_timestamp" />
            </div>

            <!-- START DYNAMICALLY GENERATED CONTENT -->
            <div class="form-group" ng-repeat="m in metadata[0].string" ng-if="c2ip.id">
                <label>{{ m.key }}</label>
                <input readonly class="form-control" ng-model="c2ip.metadata_values[m.key].value"/>
            </div>

            <div class="form-group" ng-repeat="m in metadata[0].string" ng-if="!c2ip.id">
                <label>{{ m.key }}</label>
                <input readonly class="form-control" ng-model="m.default">
            </div>

            <div class="form-group" ng-repeat="m in metadata[0].integer" ng-if="c2ip.id">
                <label>{{ m.key }}</label>
                <input readonly class="form-control" ng-model="c2ip.metadata_values[m.key].value" type="number"/>
            </div>

            <div class="form-group" ng-repeat="m in metadata[0].integer" ng-if="!c2ip.id">
                <label>{{ m.key }}</label>
                <input readonly class="form-control" ng-model="m.default" type="number"/>
            </div>

            <div class="form-group" ng-repeat="m in metadata[0].date" ng-if="c2ip.id">
                <label>{{ m.key }}</label>
                <!-- <input readonly class="form-control" ng-model="c2ip.metadata_values[m.key].value" type="date"
                       format-date/> -->
                <div class="input-group">
                    <input type="text" class="form-control" ng-required="m.required"
                        date-formatter uib-datepicker-popup="yyyy-MM-dd" alt-input-formats="['yyyy-MM-ddTHH:mm:ss']"
                        datepicker-options="dateOptions" close-text="Close"
                        is-open="datepickers[m.key]"
                        ng-model="c2ip.metadata_values[m.key].value" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openDatepicker(m.key)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>

            <div class="form-group" ng-repeat="m in metadata[0].date" ng-if="!c2ip.id">
                <label>{{ m.key }}</label>
                <!-- <input readonly class="form-control" ng-model="m.default" type="date" format-date> -->
                <div class="input-group">
                    <input type="text" class="form-control" ng-required="m.required"
                        date-formatter uib-datepicker-popup="yyyy-MM-dd" alt-input-formats="['yyyy-MM-ddTHH:mm:ss']"
                        datepicker-options="dateOptions" close-text="Close"
                        is-open="datepickers[m.key]"
                        ng-model="m.default" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openDatepicker(m.key)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>

            <div class="form-group" ng-repeat="m in metadata[0].multiline_comment" ng-if="c2ip.id">
                <label>{{ m.key }}</label>
                <textarea readonly class="form-control" ng-model="c2ip.metadata_values[m.key].value"></textarea>
            </div>

            <div class="form-group" ng-repeat="m in metadata[0].multiline_comment" ng-if="!c2ip.id">
                <label>{{ m.key }}</label>
                <textarea readonly class="form-control" ng-model="m.default"></textarea>
            </div>

            <div class="form-group" ng-repeat="m in metadata[0].select" ng-if="c2ip.id">
                <label>{{ m.key }}</label>
                <input readonly class="form-control" ng-model="c2ip.metadata_values[m.key].value">
            </div>

            <div class="form-group" ng-repeat="m in metadata[0].select" ng-if="!c2ip.id">
                <label>{{ m.key }}</label>
                <input readonly class="form-control" ng-model="m.default">
            </div>
            <!-- /START DYNAMICALLY GENERATED CONTENT -->

            <div class="form-group" ng-if="c2ip.tags.length > 0">
                <label>Tags</label>
                <tags-input ng-disabled="true" ng-model="c2ip.tags"></tags-input>
            </div>

            <div class="form-group">
                <label>Comments ({{ c2ip.comments.length }})</label>
                <div ng-if="c2ip.comments && c2ip.comments.length" style="padding-top:3px;">
                    <uib-accordion>
                        <div uib-accordion-group class="panel-default" heading="See comments" ng-init="isOpen = true"
                             is-open="isOpen">
                            <ul class="list-group">
                                <li class="list-group-item justify-content-between"
                                    ng-repeat="comment in c2ip.comments | orderBy:'-date_created'">
                                    <div>
                                        <pre
                                            style="word-break: normal; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">{{ comment.comment }}</pre>
                                        <span>{{ comment.user.email }}&nbsp;<small>{{ comment.date_created | date:'medium'  }}</small></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </uib-accordion>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancel()">Close
            </button>
        </div>
    </script>
    <script type="text/ng-template" id="c2ip-save.html">
        <form name="form" novalidate
              class="ng-scope ng-invalid ng-invalid-required ng-dirty"
              ng-submit="ok()">

            <a class="btn btn-sm btn-primary modal-fullscreen-button modal-fullscreen-button-abs-pos"
               ng-click="toggleFullscreen()">Toggle full screen</a>

            <div class="modal-header">
                <button type="button" class="close"
                        ng-click="cancel()">&times;
                </button>
                <h4 class="modal-title" id="myC2ipLabel">
                    {{ c2ip.id ? 'Edit' : 'Create' }} IP Artifact
                    <a><span ng-if="c2ip.id" class="glyphicon glyphicon-link" style="font-size: .8em"
                             title="Copy permalink to clipboard" tooltip-placement="bottom" uib-tooltip="Copied!"
                             tooltip-trigger="'outsideClick'"
                             ngclipboard data-clipboard-text="{{ getPermalink(c2ip.id) }}">
                    </span></a>
                    <a><span ng-if="c2ip.id"
                             class="glyphicon {{ c2ip.bookmarked ? 'glyphicon-star' : 'glyphicon-star-empty' }}"
                             style="font-size: .8em"
                             title="Bookmark IP artifact" tooltip-placement="bottom"
                             uib-tooltip="{{ c2ip.bookmarked ? 'Bookmarked!' : 'Un-bookmarked!' }}"
                             tooltip-trigger="'outsideClick'"
                             ng-click="c2ip.bookmarked ? unbookmark(c2ip.id) : bookmark(c2ip.id)">
                    </span></a>
                    <div ng-if="c2ip.id">
                        <small>{{ getPermalink(c2ip.id) }}</small>
                    </div>
                </h4>

            </div>
            <div class="modal-body">
                <div class="form-group" ng-if="c2ip.id">
                    <label>ID</label>
                    <label type="text" class="form-control" name="id" ng-model="c2ip.id">{{ c2ip.id }}</label>
                </div>

                <div class="form-group">
                    <label>IP</label>
                    <span class="error text-danger"
                          ng-show="form.ip.$error.minlength">Must be at least  characters.</span>
                    <span class="error text-danger"
                          ng-show="form.ip.$error.maxlength">Must be at most 15 characters.</span>
                    <span class="error text-danger">*</span>
                    <input type="text" class="form-control" name="ip"
                           ng-model="c2ip.ip" ng-required="true"
                           ng-maxlength="15" focus="true"/>
                </div>

                <div class="form-group" ng-if="c2ip.date_created">
                    <label>Owner</label>
                    <ui-select ng-model="c2ip.owner_user">
                        <ui-select-match placeholder="Select an owner ...">
                            <small><span ng-bind="$select.selected.email || c2ip.owner_user.email"></span></small>
                        </ui-select-match>
                        <ui-select-choices
                            repeat="person in (users | filter: $select.search) track by person.id">
                            <small><span ng-bind="person.email"></span></small>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="form-group" ng-if="c2ip.date_created">
                    <label>Date Created</label>

                    <label type="text" class="form-control" name="date_created"
                           ng-model="c2ip.date_created">{{ c2ip.date_created | date:'yyyy-MM-dd hh:mm:ss' }}</label>
                </div>

                <div class="form-group" ng-if="c2ip.date_modified">
                    <label>Date Modified</label>

                    <label type="text" class="form-control" name="date_modified"
                           ng-model="c2ip.date_modified">{{ c2ip.date_modified | date:'yyyy-MM-dd hh:mm:ss' }}</label>
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" placeholder="Enter description..." rows="6"
                              ng-model="c2ip.description" ng-required="false"></textarea>
                </div>

                <div class="form-group">
                    <label>State</label>
                    <span class="error text-danger">*</span>

                    <ui-select ng-model="c2ip.state" name="state">
                        <ui-select-match placeholder="Select a state or press delete to clear..">
                            <span ng-bind="$select.selected.state || c2ip.state"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="state in (cfg_states | filter: $select.search) track by state.id">
                            <span ng-bind="state.state"></span>
                        </ui-select-choices>
                    </ui-select>

                </div>

                <div class="form-group">
                    <label>ASN</label>
                    <span class="error" ng-show="form.asn.$error.minlength">Must be at least  characters.</span>
                    <span class="error" ng-show="form.asn.$error.maxlength">Must be at most 128 characters.</span>
                    <input class="form-control" name="asn"
                           ng-model="c2ip.asn" ng-required="false"
                           ng-maxlength="128"/>
                </div>

                <div class="form-group">
                    <label>Country</label>
                    <span class="error" ng-show="form.country.$error.minlength">Must be at least  characters.</span>
                    <span class="error" ng-show="form.country.$error.maxlength">Must be at most 64 characters.</span>

                    <input class="form-control" name="country"
                           ng-model="c2ip.country" ng-required="false"
                           ng-maxlength="64"/>
                </div>

                <div class="form-group">
                    <label>Expiration Timestamp</label>

                    <div class="input-group">
                        <input type="text" class="form-control" name="expiration_timestamp" ng-required="false"
                               date-formatter uib-datepicker-popup="yyyy-MM-dd" alt-input-formats="['yyyy-MM-ddTHH:mm:ss']"
                               datepicker-options="dateOptions" close-text="Close"
                               is-open="expiration_timestamp.opened"
                               ng-model="c2ip.expiration_timestamp" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openDatepicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>

                <!-- START DYNAMICALLY GENERATED CONTENT -->
                <div class="form-group" ng-repeat="m in metadata[0].string" ng-if="c2ip.id">
                    <label>{{ m.key }}</label>
                    <span class="error text-danger" ng-if="m.required">*</span>
                    <input class="form-control" ng-model="c2ip.metadata_values[m.key].value"
                           ng-required="m.required"/>
                </div>

                <div class="form-group" ng-repeat="m in metadata[0].string" ng-if="!c2ip.id">
                    <label>{{ m.key }}</label>
                    <span class="error text-danger" ng-if="m.required">*</span>
                    <input class="form-control" ng-model="m.default" ng-required="m.required">
                </div>

                <div class="form-group" ng-repeat="m in metadata[0].integer" ng-if="c2ip.id">
                    <label>{{ m.key }}</label>
                    <span class="error text-danger" ng-if="m.required">*</span>
                    <input class="form-control" ng-model="c2ip.metadata_values[m.key].value" type="number"
                           ng-required="m.required"/>
                </div>

                <div class="form-group" ng-repeat="m in metadata[0].integer" ng-if="!c2ip.id">
                    <label>{{ m.key }}</label>
                    <span class="error text-danger" ng-if="m.required">*</span>
                    <input class="form-control" ng-model="m.default" type="number" ng-required="m.required">
                </div>

                <div class="form-group" ng-repeat="m in metadata[0].date" ng-if="c2ip.id">
                    <label>{{ m.key }}</label>
                    <span class="error text-danger" ng-if="m.required">*</span>
                    <!-- <input class="form-control" ng-model="c2ip.metadata_values[m.key].value" type="date"
                           ng-required="m.required" format-date/> -->
                    <div class="input-group">
                        <input type="text" class="form-control" ng-required="m.required"
                            date-formatter uib-datepicker-popup="yyyy-MM-dd" alt-input-formats="['yyyy-MM-ddTHH:mm:ss']"
                            datepicker-options="dateOptions" close-text="Close"
                            is-open="datepickers[m.key]"
                            ng-model="c2ip.metadata_values[m.key].value" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openDatepicker(m.key)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>

                <div class="form-group" ng-repeat="m in metadata[0].date" ng-if="!c2ip.id">
                    <label>{{ m.key }}</label>
                    <span class="error text-danger" ng-if="m.required">*</span>
                    <!-- <input class="form-control" ng-model="m.default" type="date" ng-required="m.required" format-date> -->
                    <div class="input-group">
                        <input type="text" class="form-control" ng-required="m.required"
                            date-formatter uib-datepicker-popup="yyyy-MM-dd" alt-input-formats="['yyyy-MM-ddTHH:mm:ss']"
                            datepicker-options="dateOptions" close-text="Close"
                            is-open="datepickers[m.key]"
                            ng-model="m.default" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openDatepicker(m.key)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>

                <div class="form-group" ng-repeat="m in metadata[0].multiline_comment" ng-if="c2ip.id">
                    <label>{{ m.key }}</label>
                    <span class="error text-danger" ng-if="m.required">*</span>
                    <textarea class="form-control" ng-model="c2ip.metadata_values[m.key].value" rows="2"
                              ng-required="m.required"></textarea>
                </div>

                <div class="form-group" ng-repeat="m in metadata[0].multiline_comment" rows="2" ng-if="!c2ip.id">
                    <label>{{ m.key }}</label>
                    <span class="error text-danger" ng-if="m.required">*</span>
                    <textarea class="form-control" ng-model="m.default" ng-required="m.required"></textarea>
                </div>

                <div class="form-group" ng-repeat="m in metadata[0].select" ng-if="c2ip.id">
                    <label>{{ m.key }}</label>
                    <span class="error text-danger" ng-if="m.required">*</span>
                    <ui-select ng-model="c2ip.metadata_values[m.key].value"
                               on-select="update_selected_metadata(m, $select.selected)" ng-required="m.required">
                        <ui-select-match placeholder="Select an option or press delete to clear...">
                            <small><span ng-bind="$select.selected.choice || option.choice"></span>
                            </small>
                        </ui-select-match>
                        <ui-select-choices
                            repeat="option in (m.choices | filter: $select.search) track by option.id">
                            <small><span>{{ option.choice }}</span></small>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="form-group" ng-repeat="m in metadata[0].select" ng-if="!c2ip.id">
                    <label>{{ m.key }}</label>
                    <span class="error text-danger" ng-if="m.required">*</span>
                    <ui-select ng-model="m.default"
                               on-select="update_selected_metadata(m, $select.selected)" ng-required="m.required">
                        <ui-select-match placeholder="Select an option or press delete to clear...">
                            <small><span ng-bind="$select.selected.choice || option.choice"></span></small>
                        </ui-select-match>
                        <ui-select-choices
                            repeat="option in (m.choices | filter: $select.search) track by option.id">
                            <small><span>{{ option.choice }}</span></small>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <!-- /START DYNAMICALLY GENERATED CONTENT -->

                <div class="form-group">
                    <label>Tags</label>

                    <tags-input ng-model="c2ip.tags">
                        <auto-complete source="loadTags($query)"
                                       min-length="0"
                                       load-on-focus="true"
                                       load-on-empty="true">
                        </auto-complete>
                    </tags-input>
                </div>

                <div class="form-group" ng-if="!c2ip.id">
                    <label>Comment</label>

                    <textarea class="form-control" placeholder="Add a comment..."
                              rows="4" ng-model="c2ip.new_comment"></textarea>
                </div>
                <div class="form-group" ng-if="c2ip.id">
                    <label>Comments ({{ c2ip.comments.length }})</label>
                    <div class="input-group">
                        <textarea class="form-control" placeholder="Add a comment..." rows="4"
                                  ng-model="c2ip.new_comment"></textarea>

                        <span class="input-group-btn" style="height:10px;">
                            <button class="btn btn-secondary" type="button"
                                    ng-click="add_comment(c2ip.id)" style="height:100%;"><span
                                class="glyphicon glyphicon-plus"></span></button>
                        </span>
                    </div>
                    <div ng-if="c2ip.comments && c2ip.comments.length" style="padding-top:3px;">
                        <uib-accordion>
                            <div uib-accordion-group class="panel-default"
                                 heading="See comments">
                                <ul class="list-group">
                                    <li class="list-group-item justify-content-between"
                                        ng-repeat="comment in c2ip.comments | orderBy:'-date_created'">
                                        <div>
                                            <pre
                                                style="word-break: normal; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">{{ comment.comment }}</pre>
                                            <span>{{ comment.user.email }}&nbsp;<small>{{ comment.date_created | date:'medium'  }}</small></span>
                                            <button type="button" class="btn btn-xs pull-right"
                                                    confirmed-click="delete_comment({{ c2ip.id }},{{ comment.id }})"
                                                    ng-confirm-click="Are you sure you want to delete comment?"><span
                                                style="color: red;" class="glyphicon glyphicon-remove-circle"></span>
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </uib-accordion>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel
                </button>
                <button ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            </div>
        </form>
    </script>
    <br>
    <div class="container-fluid">
        <div style="float: left;">
            <ui-select ng-model="view_selected" style="width: 200px;" title="Select view"
                       on-select="change_view($item, $model)">
                <ui-select-match placeholder="Select view" title="Select view">
                    {{$select.selected}}
                </ui-select-match>
                <ui-select-choices repeat="view in (view_options | filter: $select.search) track by view">
                    <span ng-bind="view"></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <button type="button" class="btn btn-secondary" ng-disabled="!checked_counter || checked_counter<2"
                ng-click="open_batch()">
            Batch Edit ({{ checked_counter }})
        </button>
        <button type="button" class="btn btn-secondary" ng-disabled="!checked_counter || checked_counter<2"
                confirmed-click="batch_delete()"
                ng-confirm-click="Are you sure you want to batch delete selected c2ip records?">
            Batch Delete ({{ checked_counter }})
        </button>
        <button type="button" class="btn btn-secondary" ng-if="view_selected == 'Inactive Only'"
                confirmed-click="delete_all_inactive()"
                ng-confirm-click="Are you sure you want to delete all inactive IPs?">
            Delete All Inactive
        </button>
        <button class="btn btn-secondary pull-right" style="color:inherit;" ng-click="create()">
            Create C2 IP
        </button>
    </div>
    <br>
    <style type="text/css">
        .gridTags {
            padding: 0;
            width: 180px;
            height: 2em;
            line-height: 1em;
            text-overflow: ellipsis;
            word-break: break-all;
            overflow: hidden;
            white-space: nowrap;
        }

        .gridTags:hover {
            overflow: visible;
            white-space: normal;
            height: auto;
        }

        .gridTags li:not(:last-child):after {
            content: ", ";
        }
    </style>
    <div ui-if="gridOptions.data.length > 0" ui-grid="gridOptions" ng-style="getTableHeight()"
         ui-grid-pagination ui-grid-auto-resize>
    </div>
</div>
