 <div>

    <script type="text/ng-template" id="c2ip-save.html">
        <form name="form" role="form" novalidate
              class="ng-scope ng-invalid ng-invalid-required ng-dirty"
              ng-submit="ok()">

            <div class="modal-header">
                <button type="button" class="close"
                        ng-click="cancel()">&times;
                </button>
                <h4 class="modal-title" id="myC2ipLabel" ng-if="!c2ip.id">Create IP Artifact</h4>
                <h4 class="modal-title" id="myC2ipLabel" ng-if="c2ip.id">Edit IP Artifact</h4>

            </div>
            <div class="modal-body">
                <div class="form-group" ng-if="c2ip.id">
                    <label>ID</label>
                    <label type="text" class="form-control" name="id" ng-model="c2ip.id">{{ c2ip.id }}</label>
                </div>

                <div class="form-group">
                    <label>IP</label>
                    <span class="error text-danger"
                          ng-show="form.ip.$error.minlength">Must be at least  characters.</span>
                    <span class="error text-danger"
                          ng-show="form.ip.$error.maxlength">Must be at most 15 characters.</span>
                    <span class="error text-danger">*</span>
                    <input type="text" class="form-control" name="ip"
                           ng-model="c2ip.ip" ng-required="true"
                           ng-maxlength="15"/>
                </div>

                <div class="form-group" ng-if="c2ip.date_created">
                    <label>Date Created</label>

                    <label type="text" class="form-control" name="date_created"
                           ng-model="c2ip.date_created">{{ c2ip.date_created }}</label>
                </div>

                <div class="form-group" ng-if="c2ip.date_modified">
                    <label>Date Modified</label>

                    <label type="text" class="form-control" name="date_modified"
                           ng-model="c2ip.date_modified">{{ c2ip.date_modified }}</label>
                </div>


                <div class="form-group">
                    <label>State</label>
                    <span class="error text-danger">*</span>

                    <ui-select ng-model="c2ip.state" name="state">
                        <ui-select-match placeholder="Select a state..">
                            <span ng-bind="$select.selected.state || c2ip.state"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="state in (cfg_states | filter: $select.search) track by state.id">
                            <span ng-bind="state.state"></span>
                        </ui-select-choices>
                    </ui-select>

                </div>

                <div class="form-group">
                    <label>ASN</label>
                    <span class="error" ng-show="form.asn.$error.minlength">Must be at least  characters.</span>
                    <span class="error" ng-show="form.asn.$error.maxlength">Must be at most 128 characters.</span>
                    <input type="text" class="form-control" name="asn"
                           ng-model="c2ip.asn" ng-required="false"
                           ng-maxlength="128"/>
                </div>

                <div class="form-group">
                    <label>Country:</label>
                    <span class="error" ng-show="form.country.$error.minlength">Must be at least  characters.</span>
                    <span class="error" ng-show="form.country.$error.maxlength">Must be at most 64 characters.</span>

                    <input type="text" class="form-control" name="country"
                           ng-model="c2ip.country" ng-required="false"
                           ng-maxlength="64"/>
                </div>

                <div class="form-group">
                    <label>Reference Link:</label>
                    <span class="error"
                          ng-show="form.reference_link.$error.minlength">Must be at least  characters.</span>
                    <span class="error"
                          ng-show="form.reference_link.$error.maxlength">Must be at most 2048 characters.</span>

                    <input type="text" class="form-control" name="reference_link"
                           ng-model="c2ip.reference_link" ng-required="false"
                           ng-maxlength="2048"/>
                </div>

                <div class="form-group">
                    <label>Reference Text:</label>
                    <span class="error text-danger">*</span>
                    <span class="error"
                          ng-show="form.reference_text.$error.minlength">Must be at least  characters.</span>
                    <span class="error"
                          ng-show="form.reference_text.$error.maxlength">Must be at most 4096 characters.</span>

                    <input type="text" class="form-control" name="reference_text"
                           ng-model="c2ip.reference_text" ng-required="true"
                           ng-maxlength="4096"/>
                </div>

                <div class="form-group">
                    <label>Expiration Type:</label>
                    <span class="error"
                          ng-show="form.expiration_type.$error.minlength">Must be at least  characters.</span>
                    <span class="error"
                          ng-show="form.expiration_type.$error.maxlength">Must be at most 32 characters.</span>

                    <input type="text" class="form-control" name="expiration_type"
                           ng-model="c2ip.expiration_type" ng-required="false"
                           ng-maxlength="32"/>
                </div>

                <div class="form-group">
                    <label>Expiration Timestamp:</label>

                    <input type="text" class="form-control" name="expiration_timestamp"
                           ui-date="expiration_timestampDateOptions" ui-date-format="yy-mm-dd"
                           ng-model="c2ip.expiration_timestamp" ng-required="false"/>
                </div>

                <div class="form-group">
                    <label>Tags:</label>

                    <tags-input ng-model="c2ip.tags" on-tag-added="addedTag($tag)" on-tag-removed="removedTag($tag)">
                        <auto-complete minlength="2" source="loadTags($query)" load-on-focus="true"
                                       load-on-empty="true"></auto-complete>
                    </tags-input>
                </div>

                <div class="form-group" ng-if="c2ip.id">
                    <label>Comments</label>

                    <div class="input-group">
                        <textarea class="form-control" placeholder="Enter a comment..." rows="1"
                                  ng-model="c2ip.new_comment"></textarea>

                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button"
                                    ng-click="add_comment(c2ip.id)">Post</button>
                        </span>
                    </div>
                    <BR>
                    <div>
                        <ul class="list-group">
                            <li class="list-group-item justify-content-between"
                                ng-repeat="comment in c2ip.comments | orderBy:'-date_created'">{{ print_comment(comment) }}
                                <span class="pull-right">{{ comment.user.email }}&nbsp;<small>{{ pretty_date(comment.date_created) }}</small></span>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel
                </button>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            </div>
        </form>
    </script>

    <br>

    <div class="container-fluid">

        <div class="inner-addon left-addon col-md-4" style="padding-left:0px;">
            <i class="glyphicon glyphicon-search"></i>
            <input type="text" class="form-control" placeholder="Search" ng-model="search"/>
        </div>
        <a class="btn-link pull-right" style="color:inherit;" ng-click="create()">
            <span class="glyphicon glyphicon-plus-sign"></span>
        </a>
    </div>


    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>IP</th>

                <th>State</th>

                <th style="width:200px;">ASN</th>

                <th>Country</th>

                <th style="width: 260px;">Owner</th>

                <th style="width: 120px;">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="c2ip in c2ips | filter:search track by $index" ng-if="c2ip.date_created">
                <td>{{ c2ip.ip }}</td>

                <td>{{ c2ip.state }}</td>

                <td>{{ c2ip.asn }}</td>

                <td>{{ c2ip.country }}</td>

                <td>
                    <ui-select ng-model="c2ip.owner_user" on-select="save(c2ip)">
                        <ui-select-match placeholder="Select an owner ...">
                            <small><span ng-bind="$select.selected.email || c2ip.owner_user.email"></span></small>
                        </ui-select-match>
                        <ui-select-choices
                                repeat="person in (users | filter: $select.search) track by person.id">
                            <small><span ng-bind="person.email"></span></small>
                        </ui-select-choices>
                    </ui-select>

                </td>

                <td>
                    <center>
                        <button type="submit"
                                ng-click="update(c2ip.id)"
                                class="btn btn-sm">
                            <small><span class="glyphicon glyphicon-pencil"></span></small>
                        </button>
                        <button type="submit"
                                ng-confirm-click="Are you sure you want to delete this c2ip?"
                                ng-click="delete(c2ip.id)"
                                class="btn btn-sm btn-danger">
                            <small><span class="glyphicon glyphicon-remove-circle"></span></small>
                        </button>
                    </center>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
