<!doctype html>
<html lang="en" ng-app="ThreatKB">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThreatKB</title>
    <link href="lib/bootstrap-css/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/jquery-ui/themes/smoothness/jquery-ui.min.css" rel="stylesheet"/>
    <link href="lib/angular-ui-select/dist/select.min.css" rel="stylesheet"/>
    <link href="lib/ng-tags-input/ng-tags-input.min.css" rel="stylesheet">
    <link href="lib/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet"/>
    <link href="css/codemirror.css" rel="stylesheet">
    <link href="lib/angular-growl-v2/build/angular-growl.min.css" rel="stylesheet"/>
    <link href="lib/angular-block-ui/dist/angular-block-ui.min.css" rel="stylesheet"/>
    <link href="lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet"/>

    <link href="css/app.css" rel="stylesheet">
</head>
<body>
<div ng-controller="AuthController">
    <div growl></div>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#!/home"><img ng-src="/images/{{ nav_image.value }}" style="height:25px;"></a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav" ng-if="isLoggedIn()">

                    <li>
                        <a href="#!/tasks">Tasks</a>
                    </li>

                    <li>
                        <a href="#!/c2ips">C2 IP</a>
                    </li>

                    <li>
                        <a href="#!/c2dns">C2 DNS</a>
                    </li>

                    <li>
                        <a href="#!/yara_rules">Signatures</a>
                    </li>
                    <li>
                        <a href="#!/import" title="Import"><span class="glyphicon glyphicon-import"></span></a></li>
                    </li>
                    <li ng-show="isAdmin()">
                        <a href="#!/releases" title="Releases"><span class="glyphicon glyphicon-export"></span></a></li>
                    </li>
                    <li>
                        <a href="#!/scripts/run" title="Run Tool"><span class="glyphicon glyphicon-play"></span></a>
                    </li>
                    <li>
                </ul>

                <div class="btn-group pull-right" uib-dropdown ng-show="isLoggedIn()">
                    <button id="btn-append-to-single-button" type="button" class="btn btn-sm navbar-inverse"
                            style="padding-top:15px; border:0px;" uib-dropdown-toggle>
                        <img ng-src="/ThreatKB/users/me/picture" style="height:25px;" ng-if="isLoggedIn()"></span>&nbsp;&nbsp;<span
                            class="caret" style="color:#9d9d9d"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" style="background-color: #ECF0F1;"
                        aria-labelledby="btn-append-to-single-button">
                        <li role="menuitem"><a href="#!/profile">Edit Profile</a></li>
                        <li role="menuitem"><a href="#!/access_keys">My API Keys</a></li>
                        <li role="menuitem"><a href="/ThreatKB/documentation">API Documentation</a></li>
                        <li role="menuitem"><a ng-click="logout()">Sign out</a></li>
                    </ul>
                </div>

                <div class="btn-group pull-right" style="position:relative" uib-dropdown
                     ng-show="isLoggedIn() && isAdmin()" style="box-shadow: -14px 0 0 -13px #9d9d9d">
                    <button id="btn-append-to-single-button" type="button" class="btn btn-sm navbar-inverse"
                            style="padding-top:17px; border:0px; font-size: 14px;" uib-dropdown-toggle>
                        <span class="glyphicon glyphicon-cog" style="color:#9d9d9d"></span>&nbsp;<span class="caret"
                                                                                                       style="color:#9d9d9d"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" style="background-color: #ECF0F1;"
                        aria-labelledby="btn-append-to-single-button">

                        <li role="menuitem"><a href="#!/users">Users</a></li>
                        <li role="menuitem"><a href="#!/whitelist">Whitelist</a></li>
                        <li role="menuitem"><a href="#!/tags">Tags</a></li>
                        <li role="menuitem"><a href="#!/scripts">Tool Scripts</a></li>
                        <li role="menuitem"><a href="#!/metadata">Metadata</a></li>
                        <!--<li role="menuitem"><a href="#!/files">Manage Files</a></li>-->
                        <li role="menuitem"><a href="#!/cfg_states">States</a></li>
                        <li role="menuitem"><a href="#!/cfg_category_range_mapping">Categories</a></li>
                        <li role="menuitem"><a href="#!/errors">Errors</a></li>
                        <li role="menuitem"><a href="#!/cfg_settings">Settings</a></li>
                    </ul>
                </div>

                <div ng-show="isLoggedIn()" style="margin-top:15px">
                    <div class="col-sm-4">
                        <ui-select ng-model="search_artifacts.selected" theme="selectize" title="Global search"
                                   on-select="select_artifact(search_artifacts.selected)"
                                   focus-on="search_focus">
                            <ui-select-match placeholder="Global search..">
                                {{ item.name }}</ui-select-match>
                            <ui-select-choices repeat="item in search_artifacts | filter: $select.search"
                                               refresh="refresh_search($select.search)"
                                               minimum-input-length="4">
                                <div ng-bind-html="item.name | highlight: $select.search">{{ item.name }}</div>
                                <small ng-bind-html="item.type | highlight: $select.search"></small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <!-- /.navbar-collapse -->
            </div>
    </nav>
</div>

<!-- /.container -->
<div class="container" ng-view></div>
<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="lib/jquery-ui/jquery-ui.min.js"></script>
<script src="lib/lodash/dist/lodash.min.js"></script>
<script src="lib/angular/angular.min.js"></script>
<script src="lib/angular-resource/angular-resource.min.js"></script>
<script src="lib/angular-route/angular-route.min.js"></script>
<script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="lib/angular-sanitize/angular-sanitize.min.js"></script>
<script src="lib/angular-ui-select/dist/select.min.js"></script>
<script src="lib/ng-tags-input/ng-tags-input.min.js"></script>
<script src="lib/angular-toArrayFilter/toArrayFilter.js"></script>
<script src="js/codemirror/codemirror.js"></script>
<script src="js/codemirror/yara.js"></script>
<script src="lib/angular-ui-codemirror/ui-codemirror.min.js"></script>
<script src="lib/ng-file-upload-shim/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
<script src="lib/ng-file-upload/ng-file-upload.min.js"></script>
<script src="lib/angular-growl-v2/build/angular-growl.min.js"></script>
<script src="lib/angular-password/angular-password.min.js"></script>
<script src="lib/angular-messages/angular-messages.min.js"></script>
<script src="lib/angular-file-saver/dist/angular-file-saver.bundle.min.js"></script>
<script src="lib/angular-block-ui/dist/angular-block-ui.min.js"></script>
<script src="lib/angular-ui-grid/ui-grid.min.js"></script>
<script src="lib/clipboard/dist/clipboard.min.js"></script>
<script src="lib/ngclipboard/dist/ngclipboard.min.js"></script>
<script src="lib/angular-hotkeys/build/hotkeys.min.js"></script>
<script src="lib/angular-cookies/angular-cookies.min.js"></script>

<script src="js/app.js"></script>


<!-- Controllers -->
<script src="js/c2ip/c2ip-controller.js"></script>
<script src="js/c2dns/c2dns-controller.js"></script>
<script src="js/yara_rule/yara_rule-controller.js"></script>
<script src="js/cfg_settings/cfg_settings-controller.js"></script>
<script src="js/cfg_states/cfg_states-controller.js"></script>
<script src="js/tags/tags-controller.js"></script>
<script src="js/tags_mapping/tags_mapping-controller.js"></script>
<script src="js/cfg_category_range_mapping/cfg_category_range_mapping-controller.js"></script>
<script src="js/files/files-controller.js"></script>
<script src="js/authentication/authentication-controller.js"></script>
<script src="js/import/import-controller.js"></script>
<script src="js/releases/releases-controller.js"></script>
<script src="js/tasks/tasks-controller.js"></script>
<script src="js/access_keys/access_keys-controller.js"></script>
<script src="js/whitelist/whitelist-controller.js"></script>
<script src="js/profile/profile-controller.js"></script>
<script src="js/dashboard/dashboard-controller.js"></script>
<script src="js/scripts/scripts-controller.js"></script>
<script src="js/scripts/scripts-run-controller.js"></script>
<script src="js/metadata/metadata-controller.js"></script>
<script src="js/errors/errors-controller.js"></script>
<!-- /Controllers -->

<!-- Services -->
<script src="js/c2ip/c2ip-service.js"></script>
<script src="js/c2dns/c2dns-service.js"></script>
<script src="js/yara_rule/yara_rule-service.js"></script>
<script src="js/cfg_settings/cfg_settings-service.js"></script>
<script src="js/cfg_states/cfg_states-service.js"></script>
<script src="js/tags/tags-service.js"></script>
<script src="js/tags_mapping/tags_mapping-service.js"></script>
<script src="js/cfg_category_range_mapping/cfg_category_range_mapping-service.js"></script>
<script src="js/comments/comments-service.js"></script>
<script src="js/files/files-service.js"></script>
<script src="js/import/import-service.js"></script>
<script src="js/authentication/authentication-service.js"></script>
<script src="js/releases/releases-service.js"></script>
<script src="js/users/users-service.js"></script>
<script src="js/tasks/tasks-service.js"></script>
<script src="js/access_keys/access_keys-service.js"></script>
<script src="js/whitelist/whitelist-service.js"></script>
<script src="js/bookmarks/bookmarks-service.js"></script>
<script src="js/version/version-service.js"></script>
<script src="js/scripts/scripts-service.js"></script>
<script src="js/metadata/metadata-service.js"></script>
<script src="js/errors/errors-service.js"></script>
<!-- /Services -->

</body>
</html>
