<div>

    <script type="text/ng-template" id="cfg_states-save.html">
        <form name="form" role="form" novalidate
              class="ng-scope ng-invalid ng-invalid-required ng-dirty"
              ng-submit="ok()">

            <div class="modal-header">
                <button type="button" class="close"
                        ng-click="cancel()">&times;
                </button>

                <h4 class="modal-title" id="myC2ipLabel">{{ cfg_states.id ? 'Edit' : 'Create' }} State</h4>

            </div>
            <div class="modal-body">
                <div class="form-group" ng-if="cfg_states.id">
                    <label>ID</label>
                    <label type="text" class="form-control" name="id"
                           ng-model="cfg_states.id">{{ cfg_states.id }}</label>
                </div>


                <div class="form-group">
                    <label>State:</label>

                    <input type="text" class="form-control" name="state"
                           ng-model="cfg_states.state" ng-required="true"
                           ng-maxlength="32"/>
                    <span class="error" ng-show="form.state.$error.minlength">Must be at least  characters.</span>
                    <span class="error" ng-show="form.state.$error.maxlength">Must be at most 32 characters.</span>
                </div>

                <div class="form-group">
                    <label>State Type</label><br>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default" ng-class="{active:cfg_states.is_release_state==true}"
                               ng-click="set_as_release_state()">
                            Release
                        </label>
                        <label class="btn btn-default" ng-class="{active:cfg_states.is_staging_state==true}"
                               ng-click="set_as_staging_state()">
                            Staging
                        </label>
                        <label class="btn btn-default" ng-class="{active:cfg_states.is_retired_state==true}"
                               ng-click="set_as_retired_state()">
                            Retired
                        </label>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel
                </button>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            </div>
        </form>
    </script>

    <br>
    <div class="container-fluid">

        <div class="inner-addon left-addon col-md-4" style="padding-left:0px;">
            <i class="glyphicon glyphicon-search"></i>
            <input type="text" class="form-control" placeholder="Search" ng-model="search"/>
        </div>
        <a class="btn-link pull-right" style="color:inherit;" ng-click="create()">
            <span class="glyphicon glyphicon-plus-sign"></span>
        </a>
    </div>


    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>

                <th>State</th>

                <th>Release State</th>

                <th>Staging State</th>

                <th>Retired State</th>

                <th>Signature Count</th>

                <th>DNS Count</th>

                <th>IP Count</th>

                <th>Task Count</th>

                <th style="width: 120px;">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="cfg_state in cfg_states | toArray:false | filter:search:customSearch track by $index">
                <td ng-if="cfg_state.id">{{ cfg_state.id }}</td>

                <td ng-if="cfg_state.state">{{ cfg_state.state }}</td>

                <td ng-if="cfg_state.is_release_state && cfg_state.id">Yes</td>
                <td ng-if="!cfg_state.is_release_state && cfg_state.id">No</td>

                <td ng-if="cfg_state.is_staging_state && cfg_state.id">Yes</td>
                <td ng-if="!cfg_state.is_staging_state && cfg_state.id">No</td>

                <td ng-if="cfg_state.is_retired_state && cfg_state.id">Yes</td>
                <td ng-if="!cfg_state.is_retired_state && cfg_state.id">No</td>


                <td ng-if="cfg_state.id">{{ cfg_state.sig_count }}</td>
                <td ng-if="cfg_state.id">{{ cfg_state.dns_count }}</td>
                <td ng-if="cfg_state.id">{{ cfg_state.ip_count }}</td>
                <td ng-if="cfg_state.id">{{ cfg_state.task_count }}</td>

                <td ng-if="cfg_state.id" style="float:right">
                    <button type="submit"
                            ng-click="update(cfg_state.id)"
                            class="btn btn-sm">
                        <small><span class="glyphicon glyphicon-pencil"></span></small>
                    </button>
                    <button type="button"
                            confirmed-click="delete(cfg_state.id)"
                            class="btn btn-sm btn-danger"
                            ng-confirm-click="Are you REALLY sure you want to delete the state?">
                        <small><span class="glyphicon glyphicon-remove-circle"></span></small>
                    </button>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
