body {
    margin-top: 60px;
    padding: 10px;
    background-color: #ECF0F1;
    text-align: center;
}

/* Expand page content to 100% width up to 1900px width (issue #223) */
body > .container {
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
}
@media (max-width: 1900px) {
    body > .container {
        width: 100%;
    }
}
@media (min-width: 1901px) {
    body > .container {
        width: 1870px;
    }
}
/* /done #223 */

.center {
    margin: auto;
    width: 35%;
    padding: 10px;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

table td:last-child {
    width: 100%;
    align: right;
    text-align: right;
}

/* Make table TD cells left-align content */
.ui-grid-header-cell .ui-grid-cell-contents {
    text-align: center;
}
.ui-grid-row .ui-grid-cell-contents {
    text-align: left;
}
/* /done */

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon {
    left: 0px;
}

.right-addon .glyphicon {
    right: 0px;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}

span.glyphicon {
    font-size: 1.4em;
    cursor: pointer;
}

.form-control {
    font-weight: normal;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 35px;
}

.dragover {
    border: 5px dashed blue;
}

.growl-container.growl-fixed {
    max-width: 500px;
}

.panel-title {
    font-size: 12px;
}

.table-responsive {
    min-height: 1000px;
}

.navbar-nav li {
    position: relative
}

.navbar-nav li:after {
    content: '';
    position: absolute;
    right: -2px;
    width: 1px;
    height: 50%;
    top: 25%;
    background: #9d9d9d
}

#dashboard_categories TD:last-child {
    text-align: inherit;
}

#dashboard_states TD:last-child {
    text-align: inherit;
}

#dashboard_ownership TD:last-child {
    text-align: inherit;
}

#dashboard_release TD:last-child {
    text-align: inherit;
}

/* Modal full-screen button */
body.modals-full-screen .modal-dialog {
    width: auto !important;
    margin: 10px !important;
}
.modal-fullscreen-button {
    display: none;
}
.modal-fullscreen-button.modal-fullscreen-button-abs-pos {
    position: absolute;
    right: 40px;
    top: 10px;
}
@media (min-width: 992px) {
    .modal-fullscreen-button {
        display: inline-block;
    } 
}

/* Bootstrap modal sizing overrides */
.modal-dialog { text-align: left; }
@media (min-width: 768px) {
    .modal-dialog {
        width: auto;
        margin: 10px;
    }
}
@media (min-width: 992px) {
    .modal-lg { width: 900px; }
    .modal-dialog { margin: 30px auto; }
}
