<br>
<div class="container-fluid">
    <div class="form-group">
        <form form name="form" role="form" novalidate
              class="ng-scope ng-invalid ng-invalid-required ng-dirty">
            <div style="padding-bottom: 10px;">
                <label style="padding:5px;">Import</label>

                <span class="pull-right">

                    IP&nbsp;
                    <input type="checkbox" ng-model="extract_ip" ng-checked="true">
                    &nbsp;&nbsp;
                    DNS&nbsp;
                    <input type="checkbox" ng-model="extract_dns" ng-checked="true">
                    &nbsp;
                    Signature
                    <input type="checkbox" ng-model="extract_signature" ng-checked="true">
                    &nbsp;&nbsp;
                    Autocommit&nbsp;
                    <input type="checkbox" ng-model="autocommit">
                &nbsp;&nbsp;
                    <button type="button" class="btn btn-secondary" ng-click="import_artifacts()"
                            ng-disabled="form.$invalid || form.$pristine || form.import_text.$invalid">Extract Artifacts</button></span>
            </div>
            <div class="form-group">
                <input class="form-control" ng-model="shared_reference" placeholder="Shared reference link..."/>
            </div>
            <div class="form-group">

                <ui-select ng-model="shared_state.state">
                    <ui-select-match placeholder="Select a shared state..">
                        <span ng-bind="$select.selected.state || shared_state.state.state"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="state in (cfg_states | filter: $select.search) track by state.id">
                        <span ng-bind="state.state"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="10" placeholder="Metadata field mapping..."
                          ng-model="default_mapping.value" name="metadata_field_mapping"></textarea>
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="10" ng-model="import_text" name="import_text"
                          placeholder="Import text..." ng-required="true"></textarea>
            </div>
        </form>
    </div>


    <br/>
    <div class="form-group" ng-if="artifacts">
        <div style="padding-bottom: 5px;">
            <label style="padding:5px;">Extracted Artifacts</label>
            <span class="pull-right">
            <button type="button" class="btn btn-secondary" ng-click="uncheck_all()">Uncheck All</button>
            <button type="button" class="btn btn-secondary" ng-click="check_all()">Check All</button>
            <button type="button" class="btn btn-secondary"
                    ng-click="commit_artifacts()">Commit ({{ commit_counter }})</button>
        </span>
        </div>
        <ul class="list-group">
            <li class="list-group-item "
                ng-repeat="artifact in artifacts">
                <input type="checkbox" class="pull-left" ng-model="checked_indexes[$index]"
                       ng-change="update_commit_counter($index)"/>
                &nbsp;&nbsp;&nbsp;&nbsp;{{ artifact.artifact }}
                <span class="pull-right">{{ artifact.type }}</span>
            </li>
        </ul>
    </div>
</div>
