<div>

    <script type="text/ng-template" id="macros-save.html">
        <form name="form" role="form" novalidate
              class="ng-scope ng-invalid ng-invalid-required ng-dirty"
              ng-submit="ok()">

            <div class="modal-header">
                <button type="button" class="close"
                        ng-click="cancel()">&times;
                </button>
                <h4 class="modal-title" id="myMacroLabel">{{ macro.tag ? 'Edit' : 'Create' }} Macro</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Tag</label>
                    <input type="text" class="form-control" name="tag" ng-model="macro.tag" ng-required="true"
                           ng-maxlength="512" value="{{ macro.tag }}"/>
                    <span class="error" ng-show="form.value.$error.minlength">Must be at least 1 character.</span>
                    <span class="error" ng-show="form.value.$error.maxlength">Must be at most 512 characters.</span>
                </div>

                <div class="form-group">
                    <label>Value</label>
                    <textarea class="form-control" name="value" ng-model="macro.value" ng-required="true"></textarea>
                    <span class="error" ng-show="form.value.$error.minlength">Must be at least 1 character.</span>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            </div>
        </form>
    </script>

    <br>
    <div class="container-fluid">
        <div class="inner-addon left-addon col-md-4" style="padding-left:0px;">
            <i class="glyphicon glyphicon-search"></i>
            <input type="text" class="form-control" placeholder="Search" ng-model="search"/>
        </div>
        <a class="btn-link pull-right" style="color:inherit;" ng-click="create()">
            <span class="glyphicon glyphicon-plus-sign"></span>
        </a>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Tag</th>

                <th>Value</th>

                <th style="width: 120px;">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="macro in macros | toArray:false | filter:search:customSearch track by $index">
                <td ng-if="macro.tag">{{ macro.tag }}</td>

                <td ng-if="macro.tag">{{ macro.value }}</td>

                <td ng-if="macro.tag" style="float:right">
                    <div style="text-align: center;">
                        <button class="btn btn-sm" type="submit" ng-click="update(macro.tag)">
                            <small><span class="glyphicon glyphicon-pencil"></span></small>
                        </button>
                        <button class="btn btn-sm btn-danger" type="submit" ng-click="delete(macro.tag)">
                            <small><span class="glyphicon glyphicon-remove-circle"></span></small>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
