<meta http-equiv="expires" content="0">
<div>

    <script type="text/ng-template" id="release-save.html">
        <form name="form" role="form" novalidate
              class="ng-scope ng-invalid ng-invalid-required ng-dirty"
              ng-submit="ok()">

            <div class="modal-header">
                <button type="button" class="close"
                        ng-click="cancel()">&times;
                </button>
                <h4 class="modal-title" ng-if="!release.id">Create Release</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Name</label>
                    <span class="error text-danger" ng-if="!release.name">*</span>
                    <input type="text" class="form-control" name="key"
                           ng-model="release.name" ng-required="true"/>
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-left" style="padding: 5px 0 0 5px;">
                    <input type="checkbox" class="pull-left" ng-model="release.is_test_release">
                    &nbsp;This Is A Test Release
                </div>
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel
                </button>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            </div>
        </form>
    </script>

    <br>
    <div class="container-fluid">

        <div class="inner-addon left-addon col-md-4" style="padding-left:0px;">
            <i class="glyphicon glyphicon-search"></i>
            <input type="text" class="form-control" placeholder="Search" ng-model="search"/>
        </div>
        <a class="btn-link pull-right" style="color:inherit;" ng-click="create()">
            <span class="glyphicon glyphicon-plus-sign"></span>
        </a>
    </div>


    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th style="width: 100px;">Name</th>

                <th style="width: 200px;">Date Created</th>

                <th style="width: 280px;">Created By</th>

                <th>Test Release</th>

                <th>Signatures</th>

                <th>IPs</th>

                <th>Domains</th>

                <th style="width: 140px;">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="release in releases | orderBy:'-date_created' | filter:{name:search}:customSearch track by $index "
                ng-if="release.date_created">
                <td>{{ release.name }}</td>

                <td>{{ release.date_created }}</td>

                <td>{{ release.created_user.email }}</td>

                <td ng-if="release.is_test_release">Yes</td>
                <td ng-if="!release.is_test_release">No</td>

                <td>{{ release.num_signatures }}</td>

                <td>{{ release.num_ips }}</td>

                <td>{{ release.num_dns }}</td>

                <td>
                    <center>
                        <button type="submit"
                                ng-click="generate_artifact_export(release.id)"
                                class="btn btn-sm"
                                title="Generate Artifact Export">
                            <small><span class="glyphicon glyphicon-export"></span></small>
                        </button>
                        <button type="submit"
                                ng-click="generate_release_notes(release.id)"
                                class="btn btn-sm btn-info"
                                title="Generate Release Notes">
                            <small><span class="glyphicon glyphicon-folder-open"></span></small>
                        </button>
                        <button type="submit"
                                confirmed-click="delete(release.id)"
                                ng-confirm-click="Are you sure you want to the release {{ release.name }}?"
                                class="btn btn-sm btn-danger">
                            <small><span class="glyphicon glyphicon-remove-circle"></span></small>
                        </button>
                    </center>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
